 <div class="container col-md-12"> 
        <div class="col-md-12" id="lblTitulo"> 
        <div class="row col-md-offset-2" style=""  >
            <label >MODIFICAR CONTRASEÑA</label>
        </div>
        </div>
     
        <div class="row col-md-offset-2" id="lblDatoObligatorio" class="col-md-12" style=""   >
            <label >* Todos los datos son Obligatorios</label>

        </div>

        <div class="row col-md-offset-2" id="lblDatoObligatorio" class="col-md-12" style=""   >
            <label >Contraseña:</label>
        </div>

        <!-- CUERPO!-->
        <div class="form-group col-md-offset-4" style="" >
            <div id="divDetalle">
            <div  id="divAlineacion">
                <label>Actual:</label>
                <input  type="password" class="form-control" disabled ng-model="prfl.datosUsuario[0].password" />
            </div>
            </div>
            
            <div id="divDetalle">
            <div  id="divAlineacion">
                <label>*Nueva:</label>
                <input type="password" class="form-control" placeholder="Nueva" ng-model="prfl.passwordNueva">
             </div>
			 
            <div  id="divAlineacion">
                <label>*Repetir Clave:</label>
                <input type="password" class="form-control" placeholder="Repetir Clave" ng-model="prfl.passwordRepetir" >
            </div>
            </div>
        </div>     
        
        <div class="form-group col-md-offset-4" style="" >
            
        <!-- BOTONES!-->
        <div class="row" class="col-md-12" style=" "   >
            <div class="col-md-6  col-md-offset-6">
               <button class="btn btn-default btn-md btnBoton" ng-click="prfl.actualizarContrasenia()" >Guardar</button>
	            <button class="btn btn-default btn-md btnBoton" >Cancelar</button>
            </div>
        </div>
    </div>