<div ng-controller="PerfilController as perfCtrl" >
   <div class="div-cupon">
        <div class="panel-heading pnl-prod-perfil cupon-usado-back-color-pnl"  >
            <h4 class="panel-title">
                <b>
                    <span class="glyphicon glyphicon-check"></span>
                    CUPONES USADOS
                </b>
            </h4>
        </div>
       <cupon-usado-directive 
                           ng-repeat="cuponUsado in perfCtrl.cuponUsadosLista" 
                           product-data="cuponUsado">
        </cupon-usado-directive>
    </div>
    <div class="div-cupon">
        <div class="panel-heading pnl-prod-perfil cupon-nuevo-back-color-pnl"  >
            <h4 class="panel-title">
                <b>
                    <span class="glyphicon glyphicon-edit"></span>
                    CUPONES NUEVOS
                </b>
            </h4>
        </div>
      <cupon-nuevo-directive 
                           ng-repeat="cuponNuevo in perfCtrl.cuponNuevosLista" 
                           product-data="cuponNuevo">
        </cupon-nuevo-directive>
    </div>
    
</div>