<div>
   <div class="body-carrito-compras">
        <div class="panel-heading pnl-prod-perfil cupon-usado-back-color-pnl"  >
            <h4 class="panel-title panel-titulo">
               <span class="glyphicon glyphicon-tags"></span>
                <b>
                   COMPRAS
                </b>
             </h4>
        </div>
        <div class="titulos-compras">
            <label style="  margin-left: 15px;"> N° </label>
            <label style="  margin-left: 30px;"> FECHA COMPRA </label>
            <label style="  margin-left: 10px;"> FECHA PAGO </label>
            <label style="  margin-left: 10px;">  FORMA DE PAGO</label>
            <label style="  margin-left: 10px;"> PRECIO </label>
            <label style="  margin-left: 17px;"> ESTADO</label>
        </div>
        <div >
            <compras-directive 
                               ng-repeat="compras in comprasCtrl.listaCompras" 
                               buy-data="compras"
                               on-click-detail="comprasCtrl.onClickDetail(compras)">
            </compras-directive >
            
            <!-- Modal compra-->
            <div class="modal fade" id="myModalCompra" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                      <h4 class="modal-title" id="myModalLabel">Detalle de la compra en  {{comprasCtrl.pagoEn}}. 
                        <small class="estado-compra">{{comprasCtrl.compraVisualizar.e}}</small>
                      </h4>
                  </div>
                  <div class="modal-body">
                        <div class="separador-estado">
                            <div ng-hide="comprasCtrl.hideDivTarjeta"> <!-- tarjeta -->
                                <div>
                                    <label class="compra-titulo " style="width: 188px;">Dirección de entrega: </label>
                                    <label style="font-weight: 400;">{{comprasCtrl.detallesCompra[0].dire}}, CP: {{comprasCtrl.detallesCompra[0].cp}}, Localidad: {{comprasCtrl.detallesCompra[0].localidad}}</label>
                                </div>
                                <div>
                                    <label class="compra-titulo " style="width: 188px;">Detalles de pago: </label>
                                    <label style="font-weight: 400;">Banco: {{comprasCtrl.detallesCompra[0].banco}}, Tarjeta: {{comprasCtrl.detallesCompra[0].tarjeta}}, Cuotas: {{comprasCtrl.detallesCompra[0].cuotas}}</label>
                                </div>
                                 <div>
                                    <label class="compra-titulo " style="width: 188px;">Detalles de entrega: </label>
                                    <label style="font-weight: 400;">Dias: {{comprasCtrl.detallesCompra[0].dias}}, Costo: ${{comprasCtrl.detallesCompra[0].costo}} </label>
                                </div>
                            </div>
                            <div ng-hide="comprasCtrl.hideDivEfectivo"><!-- efectivo -->
                                <label class="detalle-compra-titulo " style="    margin-right: 10;">Sucursal: </label>
                                <label style="font-weight: 400;">{{comprasCtrl.detallesCompra[0].dir}}, CP: {{comprasCtrl.detallesCompra[0].cp}}, Localidad: {{comprasCtrl.detallesCompra[0].loc}}</label>
                            </div>
                        </div>
                      <!-- inicio detalles -->

                        <div class="scroll-detalles">
                            <div ng-repeat="s in comprasCtrl.detallesCompra">
                                <div style="margin-top: 4;">
                                    <img src="{{s.img}}" class="img-compras-detail" />
                                    <label style="  width: 160px;">{{s.tit | uppercase}},</label>
                                    <label style="  width: 32px;">{{s.descTalle | uppercase}},</label>
                                    <label style="  width: 59px;">{{s.descColor | uppercase}},</label>
                                    <label style="width: 102px;"> Cantidad: {{s.cant}},</label>
                                    <label >${{s.precio}}</label>
                                </div>
                            </div>
                        </div>
                        <!-- fin detalles ng-hide="comprasCtrl.hideDivTarjeta" -->
                      
                        <div class="separador-totales">
                            <div style="    font-size: 23px;">
                                <label  style="width: 144px; margin-left: 0; ">Total Pagado</label>
                                <label style="width: 144px; margin-left: 0;">$ {{comprasCtrl.compraVisualizar.precio}}</label>
                            </div>  
                            <div>
                                <label class="costos-pago">Monto de cupon</label>
                                <label class="costos-pago">$ {{comprasCtrl.compraVisualizar.cupon}}</label>
                           </div>  
                            <div>
                                <label class="costos-pago">Costo de envío</label>
                                <label class="costos-pago">$ {{comprasCtrl.detallesCompra[0].costo}}</label>
                            </div>
                            
                        </div>
            
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                   <!-- <button type="button" class="btn btn-primary" onclick="alert('Message 2');" data-dismiss="modal" ng-hide="{{buyData.state}} === 'Pagado'">Guardar</button>-->
                  </div>
                </div>
              </div>
            </div>
            <!-- Fin modal compra -->
        </div>
    </div>

    
</div>