<div ng-controller="PagarCompraController as pagarCtrl" class="div-pagar" >
   <div class="body-carrito-compras">
        <div class="panel-heading pnl-prod-perfil cupon-usado-back-color-pnl"  >
            <h4 class="panel-title panel-titulo">
                <b>
                   PAGAR
                </b>
             </h4>
        </div>
        <div class="div-modulos">
            <label class="pagar-titulos">
                <b>Forma de Pago</b>
            </label>
            <div class="radio">
                <label class="forma-pago">
                    <input type="radio" value="pagoEfectivo" name="formaPago" 
                           ng-model="pagarCtrl.hiddenSucursal" 
                           ng-change='mostrarSucursales(pagarCtrl.hiddenSucursal)'
                           ng-checked="pagarCtrl.isOpenSucursal">Efectivo
                </label>
                 <label class="detalle-informativo"><b>Retiro por sucursal.</b></label>
            </div>
            <div class="radio">
                <label class="forma-pago">
                    <input type="radio" value="pagoTarjeta" name="formaPago" 
                            ng-model="pagarCtrl.hiddenTarjeta" 
                            ng-checked="pagarCtrl.isOpenTarjeta"
                            ng-change='mostrarTarjetas(pagarCtrl.hiddenTarjeta)'>Tarjeta de Crédito
                </label>
                <label class="detalle-informativo"><b>Envío a domicilio.</b></label>
            </div>
        </div>
        <div class="div-modulos" ng-hide="pagarCtrl.hiddenTarjeta" md-open="pagarCtrl.isOpenTarjeta" 
              ng-mouseenter="demo.isOpenTarjeta=true" 
              ng-mouseleave="demo.isOpenTarjeta=false" >
           <label class="pagar-titulos">
                <b>Detalles de la Tarjeta</b>
            </label>
             <label>Banco</label>
              <select class="select-option select-banco" 
                    ng-model="pagarCtrl.mySelect.bancoSelec" 
                    ng-change="pagarCtrl.cambioBanco()"
                    ng-init="pagarCtrl.mySelect.bancos = pagarCtrl.bancos[0]" 
                    ng-options="banco as banco.detail for banco in pagarCtrl.bancos" 
                   >
             </select>
             
            <select class="select-option select-tipo-tarjeta" 
                    ng-model="pagarCtrl.mySelect.tarjeta" 
                    ng-disabled="pagarCtrl.disableTarjetas"
                     ng-change="pagarCtrl.cambioTarjeta()"
                    ng-options="tarjeta as tarjeta.type for tarjeta in pagarCtrl.tarjetas" 
                    >
             </select>
             
             <label>Cantidad de cuotas</label>
              <select class="select-option select-cant-cuotas" 
                    ng-model="pagarCtrl.mySelect.cuotaSelec" 
                      ng-disabled="pagarCtrl.disableCuotas"
                    ng-init="pagarCtrl.mySelect.cuotas = pagarCtrl.cuotas" 
                    ng-options="cuota as cuota.cuotas for cuota in pagarCtrl.cuotas" 
                   >
             </select>
             <div class="nro-tarjeta">
                 <label >Numero de Tarjeta</label>
                 <input type="text"  
                     class="form-control form-pagar-input" 
                     ng-model="pagarCtrl.mySelect.nroTarjeta" 
                     pattern="[0-9]*" maxlength="16"/>
             </div>
            <div class="vencimiento-tarjeta">
                <label>Fecha de Vencimiento</label>
                <!--<div id="datepicker" class="input-group date" data-date-format="mm-dd-yyyy">
                    <input class="form-control" type="text" readonly />
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>-->
                <input type="date" 
                    class="form-control form-pagar-input" 
                    ng-model="pagarCtrl.mySelect.fechaTarjeta" 
                    placeholder="Fecha Nacimiento" />
           </div> 
          <label class="pagar-titulos">
                <b>Detalles de Entrega</b>
            </label>
           <label>Envío a Domicilio</label>
           <select class="select-option select-domicilio" 
                    ng-model="pagarCtrl.mySelect.domicilioEntrega" 
                    ng-init="pagarCtrl.mySelect.domicilioEntrega = pagarCtrl.domicilios[0]" 
                    ng-options="domi as domi.detail for domi in pagarCtrl.domicilios" 
                    >
             </select>
            <label class="nuevo-domicilio" data-toggle="modal" data-target="#myModal">¿Nuevo domicilio?</label>
            
            <!-- Modal Nvo Dom-->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Agregar nuevo domicilio.</h4>
                  </div>
                  <div class="modal-body">
                    <div>
                        <label class="detalle-compra-titulo">Domicilio</label>
                        <input type="text" maxlength="80" class="input-nvo-dom">
                    </div>
                    <div>
                        <label class="detalle-compra-titulo">CP</label>
                        <input type="text" maxlength="4" class="input-nvo-dom">
                    </div>
                    <div>
                        <label class="detalle-compra-titulo">Provincia</label>
                        <select class="select-option select-domicilio" 
                        ng-model="pagarCtrl.nvoDom.provincia" 
                        ng-init="pagarCtrl.nvoDom.provincia = pagarCtrl.provincias[0]" 
                        ng-options="prov as prov.detail for prov in pagarCtrl.provincias" 
                        >
                        </select>
                    </div>
                    <div>
                        <label class="detalle-compra-titulo">Localidad</label>
                        <select class="select-option select-domicilio" 
                        ng-model="pagarCtrl.nvoDom.localidad" 
                        ng-init="pagarCtrl.nvoDom.localidad = pagarCtrl.localidades[0]" 
                        ng-options="loc as loc.detail for loc in pagarCtrl.localidades" 
                        >
                        </select>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" onclick="alert('Message 2');" data-dismiss="modal">Guardar</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- Fin modal Nvo Dom -->
            
            
        </div>
        <div class="div-modulos" ng-hide="pagarCtrl.hiddenSucursal" md-open="pagarCtrl.isOpenSucursal" 
              ng-mouseenter="demo.isOpenSucursal=true" 
              ng-mouseleave="demo.isOpenSucursal=false"  >
            <label class="pagar-titulos">
                <b>Retiro del Producto</b>
            </label><!--
            <div class="radio">
                <label class="radio-retiro-prod">
                    <input type="radio" value="Suc1" name="sucRetiro">Bermúdez 1876, CP 1417, Capital Federal, Buenos Aires.
                </label>
                <label class="detalle-informativo"><b>Tiempo de retiro: 10 dias</b></label>
            </div>
            <div class="radio">
                <label class="radio-retiro-prod">
                    <input type="radio" value="Suc2" name="sucRetiro">Bartolomé Mitre 675, CP 1654, Avellaneda, Buenos Aires.
                </label>
                <label class="detalle-informativo"><b>Tiempo de retiro: 5 dias</b></label>
            </div>
            <div class="radio">
                <label class="radio-retiro-prod">
                    <input type="radio" value="Suc3" name="sucRetiro">Remedios Escalada 654, CP 1467, Lugano, Buenos Aires.
                </label>
                <label class="detalle-informativo"> <b>Tiempo de retiro: 15 dias</b></label>
            </div> -->
            
            <div  class="radio" >
                <div>
                   <label  ng-repeat="s in pagarCtrl.sucursales" style="    width: 600;">
                      <input type="radio"  
                              name="sucRetiro" 
                              ng-change="pagarCtrl.prueba()"
                              ng-model="pagarCtrl.mySelect.retiro">{{s.dir | uppercase}}, {{s.cp | uppercase}}, {{s.des | uppercase}} 
                     </label>
                </div>
            </div> 
       
        </div>
        <div class="div-modulos ">
            <label class="pagar-titulos"> 
                <b>Cupon de Descuento</b>
            </label>
            <label class="detalle-informativo">En caso de que tengas un cupon de descuento, ingresalo aquí.</label>
            <input class="div-ingreso-cupon" maxlength="8"
                   ng-paste="pagarCtrl.verificoCupon()"
                   ng-change="pagarCtrl.verificoCupon()"
                    ng-model="pagarCtrl.mySelect.cupon" />
        </div>
        <div class="alert alert-danger" role="alert" ng-hide="pagarCtrl.hideErrorLongTarjeta">   
             <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>                                          {{pagarCtrl.mensajeLongTarjeta}}
        </div>
         <div class="div-total-reserva">
               <div class="total-pagar-finalizar">
                    <label class="detalle-informativo-precio">
                       Subtotal
                    </label>
                    <label style="width: 100;">
                        $ {{pagarCtrl.subTotal}}
                    </label>
                    <label class="detalle-informativo-precio">
                        Cupon 
                    </label> 
                    <label style="color: #1D8804;margin-left: 8px;">
                       - $ {{pagarCtrl.valorCupon}}
                     </label> 
                   
                </div>
                <div class="total-pagar-finalizar">
                    TOTAL A PAGAR
                    <label>
                        $ {{pagarCtrl.totalReservas}}
                    </label> 
                   
                </div>
               
                <button  type="button" 
                           ng-click="pagarCtrl.pagarCarrito()"
                           class=" btn-terminar btn btn-default btn-md" >
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    Terminar
                </button>
                 <button  type="button" class=" btn-cancelar btn btn-default btn-md" ui-sref="carrito.reservas">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    Cancelar
                </button>
            </div>
        </div>
    </div>
