<div id="idPagina" ng-controller="CrearCuentaController as CrearCuentaCtrl" >

    <div class="container col-md-12" >
        <div class="col-md-12" id="lblTitulo">
            <div class="row col-md-offset-2"  style=""  >
            <label >CREAR CUENTA</label>
            </div>
        </div>


        <div class="row col-md-offset-2" id="lblDatoObligatorio" class="col-md-12" style=""   >
            <label >* Todos los datos son Obligatorios</label>
        </div>

        <!-- CUERPO!-->
        <div class="form-group col-md-offset-4" style="" >
            <div id="divDetalle">
            <div  id="divAlineacion">
                <label>Nombre:</label>
                <input id="nombre" type="text" class="form-control" placeholder="Nombre" ng-model="crearCta.clienteNuevo.nombre">
            </div>
            <div  id="divAlineacion">
                <label>Apellido:</label>
                <input id="apellido" type="text" class="form-control" placeholder="Apellido" ng-model="crearCta.clienteNuevo.apellido" >
            </div>
            </div>
            
            <div id="divDetalle">
            <div  id="divAlineacion">
                <label>D.N.I:</label>
                <input id="numDni" type="text" class="form-control" placeholder="D.N.I" ng-model="crearCta.clienteNuevo.numDni">
            </div>
            <div  id="divAlineacion">
                <label>Tipo Dni:</label>
                <input id="tipoDni" type="text" class="form-control" placeholder="TipoDni" ng-model="crearCta.clienteNuevo.tipoDni" >
            </div>
            </div>
            
            <div id="divDetalle">
            <div  id="divAlineacion">
                <label>Fecha Nacimiento:</label>
                <input id="fechaNacimiento" type=date class="form-control" placeholder="Fecha Nacimiento" ng-model="crearCta.clienteNuevo.fechaNacimiento"/>
            </div>
            <div  id="divAlineacion">
                <label>Sexo:</label>
                <div class="selectContainer">
                <select id="idGenero" ng-model="crearCta.clienteNuevo.idGenero">
                <option ng-repeat="genero in crearCta.generos" ng-value = 'genero.idGenero'>
                        {{genero.descripcion}}
                </option>
                </select>
                </div>
                <!--input id="idGenero" type="text" class="form-control" placeholder="Genero" ng-model="crearCta.clienteNuevo.idGenero"!-->
            </div>
            </div>
            
            <div id="divDetalle">
            <div  id="divAlineacion">
                <label>E-mail:</label>
                <input id="email" type="text" class="form-control" placeholder="Email" ng-model="crearCta.clienteNuevo.email"  >
            </div>
            <div  id="divAlineacion">
                <label>Repetir Mail:</label>
                <input id="repetirEmail" type="text" class="form-control" placeholder="Repetir Mail" ng-model="crearCta.clienteNuevo.repetirEmail">
            </div>
            </div>
         
            <div id="divDetalle">
            <div  id="divAlineacion">
                <label>Tel&eacute;fono/Celular:</label>
                <input id="telefono" type="text" class="form-control" placeholder="Telefono/Celular" ng-model="crearCta.clienteNuevo.telefono">
            </div>
            </div>

            <div id="lblAclaracion">
            <div  id="divAlineacion">
               <label >C&oacute;digo de &aacute;rea + N&ordm;. Ej.: 11 43234556.</label>
            </div>
            </div>
            
            <div id="divDetalle">
            <div  id="divAlineacion">
                <label>Pa&iacute;s:</label>
                <input id="pais" type="text" class="form-control" placeholder="País" ng-model="crearCta.clienteNuevo.pais" >
            </div>
            <div  id="divAlineacion">
                <label>*Localidad:</label>
                <input id="idLocalidad" type="text" class="form-control" placeholder="Localidad" ng-model="crearCta.clienteNuevo.idLocalidad" >
            </div>
            </div>

            <div id="divDetalle">
            <div  id="divAlineacion">
                <label>Direcci&oacute;n:</label>
                <input id="direccion" type="text" class="form-control" placeholder="Dirección" ng-model="crearCta.clienteNuevo.direccion" >
            </div>

            <div  id="divAlineacion">
                <label>C&oacute;digo Postal:</label>
                <input id="codigoPostal" type="text" class="form-control" placeholder="Código Postal" ng-model="crearCta.clienteNuevo.codigoPostal" >
            </div>
            </div>
            
            <!--div id="divSubtitulo" >
            <div  id="divAlineacion">
               <label class="hint-text ; ">Contraseña</label>
            </div>
            </div-->
            
            <div id="divDetalle">
            <div  id="divAlineacion">
                <label>Crear Clave:</label>
                <input id="clave" type="text" class="form-control" placeholder="Crear Clave" ng-model="crearCta.clienteNuevo.clave">
            </div>
            <div  id="divAlineacion">
                <label>Repetir Clave:</label>
                <input id="repetirClave" type="text" class="form-control" placeholder="Repetir Clave" ng-model="crearCta.clienteNuevo.repetirClave">
            </div>
            </div>
            
            <div id="lblAclaracion">
            <div  id="divAlineacion">
               <label >Usa entre 6 y 20 caracteres.</label>
            </div>
            </div>
        </div>     
        
        <div class="form-group col-md-offset-4" style="" >
            
        <!-- BOTONES!-->
        <div class="row" class="col-md-12" style=" "   >
            <div class="col-md-6  col-md-offset-6">
               <button class="btn btn-default btn-md btnBoton" ng-click="crearCta.altaDeCuenta()">Aceptar</button>
	           <button class="btn btn-default btn-md btnBoton" >Cancelar</button>
            </div>
        </div>
    </div>
</div>


          
          