<div class="row">
	<div class="col-md-6">
		<div class="btn-group" role="group" aria-label="...">
		  <button type="button" class="btn btn-default" ng-click="mp.nuevaMp()">Nueva Materia Prima</button>
		  <button type="button" class="btn btn-default" ng-click="cat.putCategoria()" ng-disabled="cat.activado">Editar Materia Prima</button>
		  <button type="button" class="btn btn-default" ng-click="cat.deleteCategoria()" ng-disabled="cat.activado">Eliminar Materia Prima</button>
		</div>
	</div>
    
    <div class="row">
	<div class="col-md-12"><hr/></div>
</div>
    
<div class="col-md-8">
    <div class="col-md-12" ui-view>
	</div>
    <table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Título</th>
        <th>Precio</th>
        <th>Por cada</th>
        <th>Unidad de medida</th>  
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="materia in mp.mps">
        <td><li class="list-group-item" ng-click="mp.activeItem($index, materia)" ng-class="{ 'active' : $index == mp.selectedIndex}">
            {{materia.idMp}}</li>
		  </td>
        <td> <li class="list-group-item" ng-click="mp.activeItem($index, materia)" ng-class="{ 'active' : $index == mp.selectedIndex}">
			  {{materia.titulo}}</li>
		  </td>
          <td> <li class="list-group-item" ng-click="mp.activeItem($index, materia)" ng-class="{ 'active' : $index == mp.selectedIndex}">
			  {{materia.precio}}</li>
		  </td>
          <td> <li class="list-group-item" ng-click="mp.activeItem($index, materia)" ng-class="{ 'active' : $index == mp.selectedIndex}">
			  {{materia.cada}}</li>
		  </td>
          <td> <li class="list-group-item" ng-click="mp.activeItem($index, materia)" ng-class="{ 'active' : $index == mp.selectedIndex}">
			  {{materia.medida}}</li>
		  </td>
      </tr>
    </tbody>
  </table>
    </div>
</div>