<div id="divPass">
<div class="row">
	<h4 id="divCat"><input type="text" class="form-control" placeholder="Contraseña actual" ng-model="pfAdm.passActual"></h4>
</div>
<div class="row">
    <h4 id="divCat"><input type="text" class="form-control" placeholder="Nueva contraseña" ng-model="pfAdm.passNueva"></h4>
</div>
<div class="row">
    <h4 id="divCat"><input type="text" class="form-control" placeholder="Repetir nueva contraseña" ng-model="pfAdm.passNueva2"></h4>
</div>
<button class="btn btn-default" ng-click="cat.createCategoria()">Guardar</button>
<button class="btn btn-default" ng-click="pfAdm.clear()" >Cancelar</button>
</div>