<h2>Nueva Materia Prima</h2>
<div>
	  <div class="form-group">
          <div class="row">   
        <div  class="col-md-6">  
		<label>Titulo</label>
		<input type="text" class="form-control" placeholder="Título de la materia prima" ng-model="mp.nuevaMp.titulo">
              </div>
          <div  class="col-md-3">
           <label>Unidad de medida</label>
		<input type="text" class="form-control" placeholder="Unidad de medida de la materia prima" ng-model="mp.nuevaMp.medida">
          </div>
           <div  class="col-md-3">
           <label>Punto de reposición</label>
		<input type="text" class="form-control" placeholder="Punto de reposición de la materia prima" ng-model="mp.nuevaMp.puntoReposicion">
          </div>
        </div>
	  </div>
       
    <!-- Precios -->
<div> 
    <div class="row"> 
           <div  class="col-md-5">
           <label>Precio</label>
		<input type="text" class="form-control" placeholder="Precio de la materia prima" ng-model="mp.nuevoPrecio">
          </div>
           <div  class="col-md-5">
           <label>Cantidad</label>
		<input type="text" class="form-control" placeholder="Por {{mp.nuevaMp.medida}}" ng-model="mp.nuevaCantidad">
          </div> 
        <div class="col-md-2" style="margin-top:30px">
<button type="button" class="btn btn-primary form-control " ng-click="mp.agregarPrecio()" >
    <span class="glyphicon glyphicon-plus"></span>
</button>
</div>
    </div>
    <br>
    <table class="col-md-12 table table-striped" ng-show="mp.precios.length>0" id="tablaTalle">
    <thead>
      <tr>
        <th>Precio</th>
        <th>Cantidad</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="precio in mp.precios">
        <td>
            <li  class="list-group-item">
            <div class="form-control form-control">{{precio.precio}}</div></li>
		  </td>
            <td>
            <li  class="list-group-item">
            <div class="form-control form-control">{{precio.cantidad}}</div></li>
		  </td>
          <td> <li class="list-group-item" style="float:right">
<button type="button" class="btn btn-danger form-control" ng-click="mp.quitarPrecio($index)"><span class="glyphicon glyphicon-minus"></span></button></li>
		  </td>   
      </tr>    
    </tbody>
  </table>
</div>
<br>    
<!-- Fin Precios--> 
 
    
	  <button class="btn btn-default" ng-click="mp.createMp()">Guardar</button>
	<button class="btn btn-default" ng-click="mp.clearMp()" >Cancelar</button>
</div>
<div class="row">
	<div class="col-md-12"><hr/></div>
</div>