      <!-- /#sidebar-wrapper -->
 <div class="col-md-12" ui-view>     
<div class="row">
	<div class="col-md-6">
		<div class="btn-group" role="group" aria-label="...">
		  <button type="button" class="btn btn-default" ng-click="prov.nuevaLocalidad()">Nueva Localidad</button>
		  <button type="button" class="btn btn-default" ng-click="prov.editarLocalidad()" ng-show="prov.localidadSeleccionada != null">Editar Localidad</button>
		  <button type="button" class="btn btn-default" ng-click="prov.deleteLocalidad()" ng-show="prov.localidadSeleccionada != null">Eliminar Localidad</button>
		</div>
	</div>
</div>

     
<div class="row">
	<div class="col-md-12"><hr/></div>
</div>
    
    <div class="form-group col-md-9" id="filtraResultado">
        <label id="filtrarPor" class="col-md-3 control-label">Filtrar por:</label>
        <div class="col-md-3 selectContainer">
            <select class="form-control" name="filtrado" ng-model="prov.seleccionLoc"  ng-change="prov.updateLoc()">
                <option>Id</option>
                <option>Titulo</option>
                <option>Provincia</option>
            </select>
        </div>
        <div class="col-md-2">
        <input id="filtrar" type="text" class="form-control" placeholder="Filtrar" ng-model="prov.filtroLoc.idLocalidad" ng-show="prov.seleccionLoc=='Id'">
        <input id="filtrar" type="text" class="form-control" placeholder="Filtrar" ng-model="prov.filtroLoc.descripcion" ng-show="prov.seleccionLoc=='Titulo'">
        <input id="filtrar" type="text" class="form-control" placeholder="Filtrar" ng-model="prov.filtroLoc.provincia_desc" ng-show="prov.seleccionLoc=='Provincia'">
        </div>
    </div>
    
     <div class="col-md-10">
    <table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Provincia</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="localidad in prov.localidades | filter:prov.filtroLoc">
        <td><li class="list-group-item" ng-click="prov.activeItemLocalidad($index, localidad)" ng-class="{ 'active' : $index == prov.selectedIndexLocalidad}">
            {{localidad.idLocalidad}}</li>
		  </td>
        <td> <li class="list-group-item" ng-click="prov.activeItemLocalidad($index, localidad)" ng-class="{ 'active' : $index == prov.selectedIndexLocalidad}">
			  {{localidad.descripcion}}</li>
		  </td>
          <td> <li class="list-group-item" ng-click="prov.activeItemLocalidad($index, localidad)" ng-class="{ 'active' : $index == prov.selectedIndexLocalidad}">
			  {{localidad.provincia_desc}}</li>
		  </td>
      </tr>
    </tbody>
  </table>
</div>
</div>
