<h2>Nueva Provincia</h2>
<div>
	  <div class="form-group">
          <div class="row">
        <div class="col-md-8">
          <label>Nombre</label>
		<input type="text" class="form-control" placeholder="Nombre de la provincia" ng-model="prov.nuevaProvincia.descripcion">
          </div>
        </div>
	  </div>
	  <button class="btn btn-default" ng-click="prov.createProvincia()">Guardar</button>
	<button class="btn btn-default" ng-click="prov.clearProvincia()" >Cancelar</button>
</div>
<div class="row">
	<div class="col-md-12"><hr/></div>
</div>