

      <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand" ui-sref-active="active">
                    <a>
                  Opciones
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="provincias">Provincias</a>
                </li>
                <li ui-sref-active="active">
						<a ui-sref="provincias.localidades">Localidades</a>
				</li>
                
                 <li ui-sref-active="active" id="lblVolver">
						<a ui-sref="admGeneral">Volver</a>
				</li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
 <div class="col-md-12" ui-view>     
<div class="row">
	<div class="col-md-6">
		<div class="btn-group" role="group" aria-label="...">
		  <button type="button" class="btn btn-default" ng-click="prov.nuevaProvincia()">Nueva Provincia</button>
		  <button type="button" class="btn btn-default" ng-click="prov.editarProvincia()" ng-show="prov.provinciaSeleccionada != null">Editar Provincia</button>
		  <button type="button" class="btn btn-default" ng-click="prov.deleteProvincia()" ng-show="prov.provinciaSeleccionada != null">Eliminar Provincia</button>
		</div>
	</div>
</div>

     
<div class="row">
	<div class="col-md-12"><hr/></div>
</div>

    <div class="form-group col-md-9" id="filtraResultado">
        <label id="filtrarPor" class="col-md-3 control-label">Filtrar por:</label>
        <div class="col-md-3 selectContainer">
            <select class="form-control" name="filtrado" ng-model="prov.seleccion"  ng-change="prov.update()">
                <option>Id</option>
                <option>Titulo</option>
            </select>
        </div>
        <div class="col-md-2">
        <input id="filtrar" type="text" class="form-control" placeholder="Filtrar" ng-model="prov.filtroProv.idProvincia" ng-show="prov.seleccion=='Id'">
        <input id="filtrar" type="text" class="form-control" placeholder="Filtrar" ng-model="prov.filtroProv.descripcion" ng-show="prov.seleccion=='Titulo'">
        </div>
    </div>
    
     <div class="col-md-10">
    <table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nombre</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="provincia in prov.provincias | filter:prov.filtroProv">
        <td><li class="list-group-item" ng-click="prov.activeItemProvincia($index, provincia)" ng-class="{ 'active' : $index == prov.selectedIndexProvincia}">
            {{provincia.idProvincia}}</li>
		  </td>
        <td> <li class="list-group-item" ng-click="prov.activeItemProvincia($index, provincia)"ng-class="{ 'active' : $index == prov.selectedIndexProvincia}">
			  {{provincia.descripcion}}</li>
		  </td>
      </tr>
    </tbody>
  </table>
</div>
</div>
