 <div class="col-md-12" ui-view>

      <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand" ui-sref-active="active">
                    <a>
                  Opciones
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="envios">Envios</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="cupones">Cupones</a>
                </li>
                 <li ui-sref-active="active">
                    <a ui-sref="sucursales">Sucursales</a>
                </li>
                <li ui-sref-active="active">
						<a ui-sref="bancos">Bancos/Tarjetas</a>
				</li>
                  <li ui-sref-active="active">
						<a ui-sref="provincias">Provincias/Localidades</a>
				</li>
                <li ui-sref-active="active" style="margin-top:20px;">
                    <a href="" ng-click="adm.mostrarPass = !adm.mostrarPass"><h4 id="divCat">Cambiar contraseña</h4></a>
                    <div class="col-md-12" ng-show="adm.mostrarPass">
                    <div id="divPass">
                        <div class="row">
                            <h4 id="divCat"><input type="text" class="form-control"         placeholder="Contraseña actual" ng-model="adm.passActual"></h4>
                        </div>
                        <div class="row">
                            <h4 id="divCat"><input type="text" class="form-control" placeholder="Nueva  contraseña" ng-model="adm.passNueva"></h4>
                        </div>
                        <div class="row">
                            <h4 id="divCat"><input type="text" class="form-control" placeholder="Repetir    nueva contraseña" ng-model="adm.passNueva2"></h4>
                        </div>
                        <button class="btn btn-default" ng-click="cat.createCategoria()">Guardar</button>
                        <button class="btn btn-default" ng-click="adm.mostrarPass = !adm.mostrarPass" >Cancelar</button>
                        </div>
                    
                    </div>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
   
</div>

<div class="row title">
	<h2 id="divCat">{{adm.perfil.puesto}} </h2>
</div>
<div class="row">
    <h4 id="divCat">Usuario: {{adm.perfil.usuario}}</h4>
</div>

<div >
<div class="row">
    <h5 id="divCat">Datos personales:</h5>
</div>
<div class="row">
    <h6 id="divCat">{{adm.perfil.nombre}} {{adm.perfil.apellido}}</h6>
</div>
    <div class="row">
    <h6 id="divCat">Fecha de nacimiento: {{adm.perfil.fechaNacimiento}}</h6>
</div>
    <div class="row">
    <h6 id="divCat">{{adm.perfil.tipoDni}}: {{adm.perfil.numDni}}</h6>
</div>
    <div class="row">
    <h6 id="divCat">Teléfono: {{adm.perfil.telefono}}</h6>
</div>
    <div class="row">
    <h6 id="divCat">Email: {{adm.perfil.email}}</h6>
</div>
    <div class="row">
    <h6 id="divCat">Domicilio: {{adm.perfil.direccion}} </h6>
</div>
</div>