<div class="col-md-12" ui-view>
<div class="row">
    
    
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand" ui-sref-active="active">
                    <a>
                        Opciones
                    </a>
                </li>
                 <li ui-sref-active="active">
                    <a ui-sref="productos">Productos</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="categorias">Categorias</a>
                </li>
                <li ui-sref-active="active">
						<a ui-sref="mp">Materia Prima</a>
				</li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
    
    <!-- Botones-->
	<div class="col-md-5">
		<div class="btn-group" role="group" aria-label="...">
            <!-- <ng-click funciona del mismo modo que onclick llamando a un metodo del controller, siempre tiene que anteponer el alias> -->
		  <button type="button" class="btn btn-default" ng-click="prod.nuevoProducto()">Nuevo Producto</button>
		  <button type="button" class="btn btn-default" ng-click="prod.editarProducto()" ng-show="prod.prodSeleccionadoEditar != null">Editar Producto</button>
		  <button type="button" class="btn btn-default" ng-click="prod.deleteProducto()" ng-show="prod.prodSeleccionadoEditar != null">Eliminar Producto</button>
		</div>
	</div>
    <!-- Fin Botones-->
    <div class="col-md-12"><hr/></div>
    
    <div class="row">
   </div>
    
    <div class="row">
        <!-- Buscador-->
     <a ng-click="prod.busqAv = !prod.busqAv">Busqueda avanzada <span ng-class="!prod.busqAv ? 'glyphicon glyphicon-arrow-down' : 'glyphicon glyphicon-arrow-up'"></span></a>
        <div ng-show="prod.busqAv">
    
           <div>
            <label class="titulo">Agregar filtro</label>  
           </div>
            <div class="row" id="buscaFiltros">
                <div class="col-md-8">
                <select class="form-control" name="filtrado" id="cbParametro">
                <option>Categoria</option>
                <option>Precio</option>
                </select>
                </div>
            <div class="col-md-2" id="botonContainer">
                  <button id="btnMas" type="button" class="btn btn-primary" ng-click="prod.agregarParametro()" >
                      <span class="glyphicon glyphicon-plus"></span>
                  </button>
            </div>
                <div class="col-md-2">
                    <button id="btnBuscar" type="button">Buscar</button>
                </div>
          </div>
    
        
    <div ng-show="prod.parametrosBusqueda.length > 0" class="col-md-9">
    <label class="titulo">Buscar</label>           
    <table class="table table-striped">
    <thead>
      <tr>
        <th>Criterio de búsqueda</th>
        <th>Valor</th>
        <th>Quitar</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="parametro in prod.parametrosBusqueda">
        <td>
            <li class="list-group-item">
                <div class="form-control">{{parametro}}</div>
            </li>
         </td>
        <td> 
          <li class="list-group-item" ng-show="parametro != 'Precio'">
			  <input type="text" class="form-control">
            </li>
              <li id="llenaLinea" class="list-group-item" ng-show="parametro == 'Precio'">
                  <select id="dosEnLinea" class="form-control col-md-6">
                <option>Mayor</option>
                <option>Menor</option>
              </select>
			   <input id="dosEnLinea" type="text" class="form-control col-md-6">
            </li>
		  </td>
          <td> <li class="list-group-item">
              <button type="button" class="btn btn-danger form-control" ng-click="prod.quitarParametro($index)"><span class="glyphicon glyphicon-minus">      </span></button></li>
		  </td>   
      </tr>    
    </tbody>
  </table>
    </div>
    </div>
    <!-- Fin Buscador-->  
    </div>
        
        
        
    <!-- Filtrador -->
    <div class="form-group col-md-9" id="filtraResultado">
        <label id="filtrarPor" class="col-md-3 control-label">Filtrar resultados por:</label>
        <div class="col-md-4 selectContainer">
            <select class="form-control" name="filtrado" ng-model="prod.seleccion" ng-change="prod.update()" >
                <option>Id</option>
                <option>Titulo</option>
                <option>Categoria</option>
                <option>Genero</option>
                <option>Precio</option>
            </select>
        </div>
        <div class="col-md-2">
        <input id="filtrar" type="text" class="form-control" placeholder="Filtrar" ng-model="prod.filtroProducto.idProducto" ng-show="prod.seleccion=='Id'">
        <input id="filtrar" type="text" class="form-control" placeholder="Filtrar" ng-model="prod.filtroProducto.titulo" ng-show="prod.seleccion=='Titulo'"> 
        <input id="filtrar" type="text" class="form-control" placeholder="Filtrar" ng-model="prod.filtroProducto.categoria_desc" ng-show="prod.seleccion=='Categoria'"> 
            <input id="filtrar" type="text" class="form-control" placeholder="Filtrar" ng-model="prod.filtroProducto.genero_desc" ng-show="prod.seleccion=='Genero'"> 
            <input id="filtrar" type="text" class="form-control" placeholder="Filtrar" ng-model="prod.filtroProducto.precio" ng-show="prod.seleccion=='Precio'"> 
        </div>
    </div>
    <!-- Fin Filtrador -->
        
<!-- Tabla -->
<div class="col-md-9">
    <table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Título</th>
        <th>Categoría</th>
        <th>Genero</th>
        <th>Precio</th>
      </tr>
    </thead>
    <tbody>
        <!-- <ng-repeat siempre para llenar una tabla o un combobox con un array guardado en el controller> -->
      <tr ng-repeat="producto in prod.productos | filter: prod.filtroProducto">
          <!-- <ng-class permite cambiar la clase de un elemento en tiempo real si algo sucede> -->
        <td><li class="list-group-item" ng-click="prod.activeItem($index, producto)" ng-class="{ 'active' : $index == prod.selectedIndex}">
            {{producto.idProducto}}</li>
		  </td>
        <td> <li class="list-group-item" ng-click="prod.activeItem($index, producto)" ng-class="{ 'active' : $index == prod.selectedIndex}">
			  {{producto.titulo}}</li>
		  </td>
          <td> <li class="list-group-item" ng-click="prod.activeItem($index, producto)" ng-class="{ 'active' : $index == prod.selectedIndex}">
			  {{producto.categoria_desc}}</li>
		  </td>
          <td> <li class="list-group-item" ng-click="prod.activeItem($index, producto)" ng-class="{ 'active' : $index == prod.selectedIndex}">
			  {{producto.genero_desc}}</li>
		  </td>
          <td> <li class="list-group-item" ng-click="prod.activeItem($index, producto)" ng-class="{ 'active' : $index == prod.selectedIndex}">
			  {{producto.precio}}</li>
		  </td>
      </tr>
    </tbody>
  </table>
    </div>
<!-- Fin Tabla -->
        
    </div>
</div>