
<html>
    <head>
        <link rel="stylesheet" href="../../content/css/bootstrap.min.css"> 
        <link rel="stylesheet" href="../../content/css/font-awesome.min.css">
        <link rel="stylesheet" href="../../content/css/paginaPrincipal.css">
        <script src="../../script/jquery-1.12.2.js"></script>
        <script src="../../script/bootstrap.js"></script>

        <title>Crear cuenta</title>
        
        <style >
            #idBodyCrearCuenta div {
                padding: 0px;
                padding-bottom: 10px;
            }

        </style>
    </head>
    <body>
	
	 <div id="idHeader" class="col-md-10 col-md-offset-1 container" >
            <div id="idDivBuscador" class="col-md-3 input--search">
                    <input id="idBuscador" maxlength="15" placeholder="Buscar" style="fa fa-search"/>
                    <button type="submit" class="btn"><i class="fa fa-search"></i></button>
                
            </div>
            
            
            <div id="idDivEmpresa" class="col-md-6"   >
                   <a href="../../views/paginaPrincipal.html">
                    <h1 >MODA SHOW</h1>
                   </a>
            </div>
            
            <div id="idDivCrearCuenta" class="col-md-3"   >
                <label id="idCarrito" > CARRITO </label>
              
            </div>
            
      </div> <!-- FIN HEADER -->
		
	  <div id="idBodyPrincipal"  class="col-md-10 col-md-offset-1" >
       <!-- <form id=signup action="/registration/" name=signup class="ch-form registration" method=post novalidate>
        <p >* Datos obligatorios</p>
        
        <fieldset>
            <ol>-->
             
            <div id="idModulosPrincipal"  class="col-md-12" >
                <div  class="col-md-10 col-md-offset-2" style="padding: 0px;">
                    <ul id="idMenuModulos">
                        <li >
                            <a href="../../views/paginaPrincipal.html"> INICIO </a>
                        </li>
                        <li >
                            <a href="../../views/paginaPrincipal.html"> PRODUCTOS </a>
                        </li>
                        <li>
                            <a href="../../views/paginaPrincipal.html"> CONTACTO </a>
                        </li>
                        <li >
                            <a href="../../views/modulos/politicasPago.html"> POLITICA DE PAGO </a>
                        </li>
                     
                    </ul>
                </div>
                
                <div id="myCarousel" class="col-md-10 col-md-offset-2 carousel slide" >
                  <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                    <li data-target="#myCarousel" data-slide-to="4"></li>
                    <li data-target="#myCarousel" data-slide-to="5"></li>
                  </ol>
                  <!-- Carousel items -->
                  <div class="carousel-inner">
                    <div class="active item"><img  src="../../img/carrusel/carrusel1.jpg" alt="banner1" /></div>
                    <div class="item"><img  src="../../img/carrusel/carrusel2.jpg" alt="banner2" /></div>
                    <div class="item"><img  src="../../img/carrusel/carrusel3.jpg" alt="banner3" /></div>
                    <div class="item"><img  src="../../img/carrusel/carrusel4.jpg" alt="banner4" /></div>
                    <div class="item"><img  src="../../img/carrusel/carrusel5.jpg" alt="banner5" /></div>
                    <div class="item"><img  src="../../img/carrusel/carrusel6.jpg" alt="banner6" /></div>
                  </div>

                </div> <!-- FIN CARRUSEL -->
          </div>
             <div class="col-md-6 col-md-offset-3" style="padding-left:200px;"  >
                   <h3 >CREAR CUENTA</h3>
             </div>
          
            <div class="col-md-12" >
                <div id="idBodyCrearCuenta" class="col-md-10 col-md-offset-2" >
                    <div>
                        <label for=registroPrimerNombre>Nombre:
                        <em>*</em>
                        </label>
                        <input type=text id=registroPrimerNombre type=text name="registro.primerNombre" value="" class=text size=25 tabindex=1 />
                    </div>

                    <div>
                        <label for=registroPrimerApellido>Apellido:
                        <em>*</em>
                        </label>
                        <input type=text id=registroPrimerApellido type=text name="registro.primerApellido" value="" class=text size=25 tabindex=2 />
                    </div>

                    <div>
                        <label for=EmailPosicion>E-mail:
                        <em>*</em>
                        </label>
                        <input type=text id=registroEmail type=text name="registro.email" value="" class=text size=35 tabindex=3 />
                    </div>

                    <div>
                        <label for=registroRepetirEmailPosicion>Repetir Mail:
                        <em>*</em>
                        </label>
                        <input type=text id=registroEmail type=text name="registro.repetirEmail" value="" class=text size=25 tabindex=4 />
                    </div>

                    <div>
                        <label for=registroFechaNacimiento>Fecha Nacimiento:
                        <em>*</em>
                        </label>
                        <input type=text id=registroFechaNacimiento type=text name="registro.fechaNacimiento" value="" class=text size=25 tabindex=4 />
                        <a id=helpPass class=help-pass>Formato DD/MM/AAAA</a>
                    </div>

                    <div>
                        <label for=registroTelefonoCelular>Tel&eacute;fono/Celular:
                        <em>*</em>
                        </label>
                        <input type=text id=registroTelefonoCelular type=text name="registro.telefonoCelular" value="" class=text size=14 tabindex=5 />
                        <a class=ch-form-hint>C&oacute;digo de &aacute;rea + N&ordm;. Ej.: 11 43234556.</a>
                    </div>

                    <div>
                        <label for=registroDireccion>Direcci&oacute;n (calle y altura):
                        <em>*</em>
                        </label>
                        <input type=text id=registroDireccion type=text name="registro.direccion" value="" class=text size=50 tabindex=6 />
                    </div>

                    <div>
                        <label for=registroPaisPosicion>Pa&iacute;s:
                        <em>*</em>
                        </label>
                        <input type=text id=registroPais type=text name="registro.pais" value="" class=text size=35 tabindex=7 />
                    </div>

                    <div>
                        <label for=registroLocalidad>Localidad:
                        <em>*</em>
                        </label>
                        <input type=text id=registroLocalidad type=text name="registro.localidad" value="" class=text size=35 tabindex=8 />
                    </div>

                    <div>
                        <label for=registroCodigoPostal>C&oacute;digo Postal:
                        <em>*</em>
                        </label>
                        <input type=text id=registroCodigoPostal type=text name="registro.codigoPostal" value="" class=text size=35 tabindex=9 />
                    </div>

                    <div>
                        <label for=registroPassword>Crear clave:
                        <em>*</em>
                        </label>
                        <input type=password id=registroClave name="registro.clave" class=text value="" size=12 tabindex=10 autocomplete=off />
                        <a id=helpPass class=help-pass>Usa entre 6 y 20 caracteres.</a>
                    </div>


                    <div>
                        <label for=registroRepetirClave>Repetir clave:
                        <em>*</em>
                        </label>
                        <input type=password id=registroRepetirClave name="registro.repetirClave" class=text value="" size=12 tabindex=11 autocomplete=off />
                    </div>

                    <!--    </ol>-->

                    <div  style="padding-top:20px;"  class="col-md-4 col-md-offset-4" >
                        <input type=hidden id=signupNewsletter name="signUp.newsletter" value=true  />
                        <input id=register type=submit value="CREAR CUENTA" />
                    </div>
                </div> 
            </div> 
  <!--      </fieldset>
        </form>-->
		</div> <!-- FIN BODY -->
		
		<div id="idFooter" class="col-md-12" >
            <div id="idPnlDetallesFooter"  class="col-md-10 col-md-offset-1" style="height:100px; padding: 0px;">
               <div class="col-md-3" style=" height:100px;">
                   <label style="font-size:15px;"> REDES SOCIALES </label>
                   <div class="col-md-12">
                       <label  class="fa fa-facebook-official " style="font-style: italic;"> https://www.facebook.com/ModaShow</label>
                       <label  class="fa fa-instagram " style="font-style: italic;"> https://www.instagram.com/ModaShow</label>       
                       <label  class="fa fa-twitter " style="font-style: italic;"> https://www.twitter.com/ModaShow</label> 
                   </div>
                </div>
                <div  class="col-md-3" style="height:100px;">
                    <label style="font-size:15px; padding-right: 100;">MEDIOS DE PAGO </label>
                    <div id="idPnlMediosPago"  class="col-md-12" style="">
                        <img src="../../img/footer/pagoAmex.JPG">
                        <img src="../../img/footer/pagoBanelco.JPG">
                        <img src="../../img/footer/pagoMaster.JPG">
                        <img src="../../img/footer/pagoVisa.JPG">
                    </div>
                    <div id="idPnlFormasPago"  class="" style="">
                        <label style="font-size:15px;">FORMAS DE ENVIO </label>
                        <i class=" fa fa-truck" style="  padding-right: 50;"></i>
                    </div>
                    <div id="idPnlFormasPago"  class="col-md-12" style="">
                        <img src="../../img/footer/envioOca.JPG">
                    </div>
                </div>
                
                <div  class="col-md-3" style="height:100px;">
                   <label style="font-size:15px;"> CONTACTANOS </label>
                    <div class="col-md-12">
                        <label  class="fa fa-envelope" style="font-style: italic;"> shop@modashow.com.ar</label>
                        <label  class="fa fa-phone" style="font-style: italic;"> 54 11 4576 8876 (Sucursal Capital)</label>
                        <label  class="fa fa-phone" style="font-style: italic;"> 54 11 4865 7645 (Sucursal Avellaneda)</label>
                        <label  class="fa fa-phone" style="font-style: italic;"> 54 11 4967 3125 (Sucursal Luegano)</label>
                    </div>
                </div>
                <div class="col-md-3" style="height:100px;">
                   <label style="font-size:15px;"> SEGURIDAD Y CERTIFICACIONES </label>
                    <div class="col-md-12">
                         <img src="../../img/footer/dataFiscal.JPG">
                    </div>
                </div>
            </div>
        </div> <!-- FIN FOOTER -->
		
		<script src="../../script/carrusel.js"></script>
		
    </body>
</html>