

<div id="idPaginaProducto" ng-controller="ProductosController as productCtrl" class="col-md-12">
  
    
    <div class="col-md-5 col-md-offset-1" >
    
        <img  src="img/modulos/prueba2.jpg" class="img img-first" />

        <div id="idImgProdSecundario" >
            <img src="img/modulos/prueba2.jpg" ng-click="productCtrl.changeImage(this)" />
            <img src="img/modulos/prueba3.jpg" ng-click="productCtrl.changeImage(this)"/>
            <img src="img/modulos/prueba4.jpg" ng-click="productCtrl.changeImage(this)" />
        </div> 
        
    </div>

    <div  id="idDetalleProd" class="col-md-6" style="">
        <label class="lblTitulo">CAMPERA MILANO</label>
        
        <div>
            <label class="lblPrecio" >Precio Unitario</label>
        </div>
        
        <div>
            <label class="lblDetalle">Sexo</label>
            <label >Mujer</label>
        </div>
        
        <div>
            <label class="lblDetalle">Talle</label>
            <select class="select-option">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>
  
        
        <div>
            <label class="lblDetalle">Color</label>
            <select class="select-option">
                <option value="Azul">Azul</option>
                <option value="Rosa">Rosa</option>
                <option value="Blanca">Blanca</option>
            </select>
        </div>
        
        <button class="btn-agregar">Agregar</button>
        

    </div>    
</div>