<div class="col-md-8 col-offset-2" id="idImgModProd">
    <img  class="img-responsive img-banner-modulo" src="img/modulos/imgModuloProductos.jpg" />
</div>

<div id="idPaginaProducto" ng-controller="ProductosDetailController as productCtrl" class="col-md-12">
  
    
    <div class="col-md-5 col-md-offset-1 imagenes-detalle" >
    
        <img  src={{productCtrl.source}} class="img img-first thumbnail zoom" />

        <div id="idImgProdSecundario" >
            <img src={{productCtrl.prod.image[0]}} ng-click="productCtrl.changeImage($event)" />
            <img src={{productCtrl.prod.image[1]}}  ng-click="productCtrl.changeImage($event)"/>
            <img src={{productCtrl.prod.image[2]}}  ng-click="productCtrl.changeImage($event)" />
        </div> 
        
    </div>

    <div  id="idDetalleProd" class="col-md-6" style="">
        <label class="lblTitulo">{{productCtrl.prod.title | uppercase}}</label>
              
        <div>
            <label class="lblDescripcion"> {{productCtrl.prod.desc}}</label>
        </div>  
        
        
        <div>
            <label class="lblPrecio" >${{productCtrl.prod.price}}</label>
            <!--<label class="cuotas-precio">3 cuotas de ${{productCtrl.precioXcuota}} cada una</label>-->
        </div>

        
        <div>
            <div>
                <label class="lblDetalle lblGenero">Género</label>
                <label class="" >{{productCtrl.prod.gender}}</label>
            </div>

            <div>
                <label class="lblDetalle">Elegir talle</label>
                <label class="lblDetalle titulo-elegir-color">Elegir color</label>
                
                <select class="select-option select-option-talle" ng-model="productCtrl.mySelect.size" ng-options="option as option for option in productCtrl.prod.size">
                </select>
            
                
                <select class="select-option" ng-model="productCtrl.mySelect.color" ng-options="option as option for option in productCtrl.prod.color">
                </select>
            </div>
        </div>
        
        <div>
            <label class="ver-detalle-cuotas">Ver detalles de las cuotas.</label>
        </div>
        
        
        <button  type="button" class="btn btn-default btn-md btn-agregar">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            Agregar al carrito
        </button>
        <!--class="btn-agregar"-->

    </div>    
</div>