<div class="col-md-8 col-offser-2" id="idImgModProd">
    <img  class="img-responsive" src="img/modulos/imgModuloProductos.jpg" />
</div>

<div id="idPaginaProducto" ng-controller="ProductosController as productCtrl" class="col-md-12">
  
    
    <div class="col-md-5 col-md-offset-1" >
    
        <img  src={{productCtrl.source}} class="img img-first" />

        <div id="idImgProdSecundario" >
            <img src={{productCtrl.prod.image[0]}} ng-click="productCtrl.changeImage($event)" />
            <img src={{productCtrl.prod.image[1]}}  ng-click="productCtrl.changeImage($event)"/>
            <img src={{productCtrl.prod.image[2]}}  ng-click="productCtrl.changeImage($event)" />
        </div> 
        
    </div>

    <div  id="idDetalleProd" class="col-md-6" style="">
        <label class="lblTitulo">{{productCtrl.prod.title}}</label>
        
        <div>
            <label class="lblPrecio" >{{productCtrl.prod.price}}</label>
        </div>
        
        <div>
            <label class="lblDetalle">Género</label>
            <label >{{productCtrl.prod.gender}}</label>
        </div>
        
        <div>
            <label class="lblDetalle">Talle</label>
            <select class="select-option" ng-model="productCtrl.mySelect.size" ng-options="option as option for option in productCtrl.prod.size">
            </select>
        </div>
  
        
        <div>
            <label class="lblDetalle">Color</label>
            <select class="select-option" ng-model="productCtrl.mySelect.color" ng-options="option as option for option in productCtrl.prod.color">
            </select>
        </div>
       
        
        <button  type="button" class="btn btn-default btn-md btn-agregar">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
            Agregar
        </button>
        <!--class="btn-agregar"-->

    </div>    
</div>