<div id="idFooter" class="col-md-12" >
    <div id="idPnlDetallesFooter"  class="col-md-10 col-md-offset-1" style="height:100px; padding: 0px;">
       <div class="col-md-3" style=" height:100px;">
           <label style="font-size:15px;"> REDES SOCIALES </label>
           <div class="col-md-12">
               <label  class="fa fa-facebook-official " style="font-style: italic;"> https://www.facebook.com/ModaShow</label>
               <label  class="fa fa-instagram " style="font-style: italic;"> https://www.instagram.com/ModaShow</label>       
               <label  class="fa fa-twitter " style="font-style: italic;"> https://www.twitter.com/ModaShow</label> 
           </div>
        </div>
        <div  class="col-md-3" style="height:100px;">
            <label style="font-size:15px; padding-right: 100;">MEDIOS DE PAGO </label>
            <div id="idPnlMediosPago"  class="col-md-12" style="">
                <img src="../img/footer/pagoAmex.JPG">
                <img src="../img/footer/pagoBanelco.JPG">
                <img src="../img/footer/pagoMaster.JPG">
                <img src="../img/footer/pagoVisa.JPG">
            </div>
            <div id="idPnlFormasPago"  class="" style="">
                <label style="font-size:15px;">FORMAS DE ENVIO </label>
                <i class=" fa fa-truck" style="  padding-right: 50;"></i>
            </div>
            <div id="idPnlFormasPago"  class="col-md-12" style="">
                <img src="../img/footer/envioOca.JPG">
            </div>
        </div>

        <div  class="col-md-3" style="height:100px;">
           <label style="font-size:15px;"> CONTACTANOS </label>
            <div class="col-md-12">
                <label  class="fa fa-envelope" style="font-style: italic;"> shop@modashow.com.ar</label>
                <label  class="fa fa-phone" style="font-style: italic;"> 54 11 4576 8876 (Sucursal Capital)</label>
                <label  class="fa fa-phone" style="font-style: italic;"> 54 11 4865 7645 (Sucursal Avellaneda)</label>
                <label  class="fa fa-phone" style="font-style: italic;"> 54 11 4967 3125 (Sucursal Luegano)</label>
            </div>
        </div>
        <div class="col-md-3" style="height:100px;">
           <label style="font-size:15px;"> SEGURIDAD Y CERTIFICACIONES </label>
            <div class="col-md-12">
                 <img src="../img/footer/dataFiscal.JPG">
            </div>
        </div>
    </div>
</div> <!-- FIN FOOTER -->
