<div id="idHeader" class="col-md-10 col-md-offset-1 container" >
    <div id="idDivBuscador" class="col-md-3 input--search">
            <input id="idBuscador" maxlength="15" placeholder="Buscar" style="fa fa-search"/>
            <button type="submit" class="btn"><i class="fa fa-search"></i></button>

    </div>


    <div id="idDivEmpresa" class="col-md-6"   >
           <a href="../views/paginaPrincipal.html">
            <h1 >MODA SHOW</h1>
           </a>
    </div>

    <div id="idDivCrearCuenta" class="col-md-3"   >
        <label id="idCarrito" > CARRITO </label>

        <label id="idCrearCuenta" > CREAR CUENTA | INICIAR SESION </label>

        <label id=""> PERFIL</label>
    </div>

</div> <!-- FIN HEADER -->
        