.lista-compras{
    margin-top: 15;
    margin-bottom: 5;
    font-family: sans-serif;
    font-size: 15px !important;
    border-bottom-color: #ddd;
    border-width: initial;
    border-style: inset;
    border-width: 2px;
    border-top: none;
    border-left: none;
    border-right: none;
}

.titulos-compras{
    margin-top: 15;
    margin-bottom: 5;
    font-family: sans-serif;
    font-size: 17px !important;
    border-bottom-color: antiquewhite;
    border-width: initial;
    border-style: inset;
    border-width: 2px;
    border-top: none;
    border-left: none;
    border-right: none;
}
.img-compras{
    height: 50;
    width: 50;
    margin: 0px;
    margin-left: 42px;
    margin-bottom: 10;
    margin-right: 24px;
}
.compras-lbl-detalle{
   width: 256px;
}
.compras-lbl-cantidad{
      width: 98px;
}
.compras-lbl-precio{
     width: 96px;
}
.compras-lbl-fecha-compra{
     width: 139px;
}

.panel-titulo{
    font-family: cursive !important;
}