

#idPaginaCrearCuenta {
    height:0px; 
    padding:0px; 
    
}
#idDetalleCrearCuenta .lblTitulo {
    font-size: 50;
    font-family: -webkit-pictograph;
    text-align: center;
    font-weight: 100;
    padding-top: 20px;
    padding-left: 50px;
}


#idDetalleCrearCuenta .lblDetalle{
    font-style: italic;
    font-size: 20;
	margin-top: 5px;
   /* padding-right: 610px;
    margin-top: 10px;*/
}


#idDetalleCrearCuenta .impDetalle{
    font-style: italic;
    font-size: 18;
	/*margin-top: 10px;
    padding-right: 610px;
    margin-top: 10px;*/
}

#idDetalleCrearCuenta .btnBoton{
    font-style: italic;
    font-size: 20;
	margin-top: 40px;
   /* padding-right: 610px;
    margin-top: 10px;*/
}

#idDetalleCrearCuenta .a{
    font-style: italic;
    font-size: 15;
	margin-top: 40px;
   /* padding-right: 610px;
    margin-top: 10px;*/
}


/*
#idDetalleCrearCuenta .emDetalle{
    font-style: italic;
    font-size: 20;
    padding-right: 500px;
    margin-top: 20px;
}*/



