


#myCarousel {
    width:700px; 
    padding: 0px;
    /*margin-right: 100px;
    margin-left: 205px;*/
    
}

.pnl-banner-costados{
    height: 340;   
    width: 210;
    float: left;
}
.pnl-imgs{
    padding: 0px;
    padding-bottom: 20px;

}
.img-carrousell{
    width: 700px !important;
    height: 340px !important;
}
/*Menu flotante
.f-nav{ 
    z-index: 9999;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: white;
} 
  */  
