#idPnlFiltros #show-more-cats{
    text-align: center;
    display: block;
    border-top: 1px solid #ccc;
    position: relative;
    margin-top: 20px;
    float: left;
    clear: both;
    width: 80%;
    margin-bottom: 0px;
    height: 30px;
}

#idPnlFiltros #show-more-cats i.fa{
    background-color: #E3E3E3;
    border: none;
    color: #0F0F0F;
    width: 20px;
    left: 30%;
}


#myCarousel {
    width:700px; 
    padding: 0px;
    margin-right: 100px;
    margin-left: 205px;
    padding-bottom: 20px;
}


/*Menu flotante
.f-nav{ 
    z-index: 9999;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: white;
} 
  */  