#idPnlFiltros #show-more-cats{
    text-align: center;
    display: block;
    border-top: 1px solid #ccc;
    position: relative;
    margin-top: 20px;
    float: left;
    clear: both;
    width: 80%;
    margin-bottom: 0px;
    height: 30px;
}

#idPnlFiltros #show-more-cats i.fa{
    background-color: #E3E3E3;
    border: none;
    color: #0F0F0F;
    width: 20px;
    left: 30%;
}

<<<<<<< HEAD
=======
#idMenuModulos li{
    display: initial;
    padding-left: 33px;
    text-align: center;
    font-size: large;
}
    
a{
    text-decoration: none;
    color: black;
}


a:link{
    text-decoration: none;
                 
}

#idModulosPrincipal li a:hover{
    color: #000000;
    border-top: 1px solid #000000; 
    border-bottom: 1px solid #000000;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 5px;
    height:430px; 
    padding-left:70px;
 
}
     
#idBodyPrincipal {
    height:800px; 
    padding: 0px;
}

#idHeader {
    height:550px; 
    padding: 0px;  
}

#idDivBuscador{
    height:140px; 
    padding-top:60px; 
    padding-left:30px;
}

#idDivEmpresa{
    height:140px;
}

#idDivEmpresa h1{
    text-align:center; 
    font-family:-webkit-pictograph; 
    font-size:50px; 
    color:black; 
    padding-top:20px;
}

#idDivCrearCuenta{
    height:140px; 
    padding-top:15px; 
    padding-left:30px;
}

#idDivCrearCuenta label { 
    top:50px; 
    width:90px; 
    font-size:10px;
}

#idDivCrearCuenta #idCarrito { 
    text-align:center; 
    top:50px; 
    width:200px; 
    background-color:#ccc;
}

#idModulosPrincipal{
    height:430px; 
    padding-top:10px; 
    padding-left:70px;
}
>>>>>>> origin/master

#myCarousel {
    width:700px; 
    padding: 0px;
<<<<<<< HEAD
    margin-right: 100px;
    margin-left: 205px;
    padding-bottom: 20px;
}

=======
    padding-right: 50px;
}

#container {
    height:1350px; 
    padding: 0px;
}

#idFooter {
    background-color:#D8D8D8;  
    height:100px; 
    padding: 0px; 
}

#idFooter label {
    font-size: 12px;
}
>>>>>>> origin/master

/*Menu flotante
.f-nav{ 
    z-index: 9999;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: white;
} 
  */  