body{
    margin-top:50px;
}
.glyphicon { 
    margin-right:10px;
}
.panel-body {
    padding:0px; 
}
.panel-body table tr td {
    padding-left: 15px 
}
.panel-body .table {
    margin-bottom: 0px;
}

.reputacion-cliente
{
    padding: 0px;
}

.reputacion-cliente h5{
    font-family: -webkit-pictograph;
    font-style: italic;
    color: black;
    padding-bottom: 10px;
    text-decoration: underline;
    margin-top: 40px;
    font-size: 30px;
}
.div-detalle-reputacion{
    margin-bottom: 60px;
}

.div-detalle-reputacion hr{
    border: 0; 
    border-top: 1px solid #999; 
    border-bottom: 1px solid #333; 
    height:0; 
    width:567px;

}
.mensaje-detalle-reputacion{
        font-family: serif;
    font-weight: 900;
    font-size: 30px !important;
}
.mensaje-informativo{
    font-size: smaller;
    color: grey;
    margin-top: 40px;
}

.perfilTab{
    padding:0px; 
    margin-top:30px;
}
.pnl-prod-perfil{
    margin-top: 30px;
    
}
.back-color-pnl{
    background-color: #A7B5BB !important;
}
.cupon-usado-back-color-pnl{
   background-color: antiquewhite;
}
.div-cupon{
    max-height: 200px;
    margin-top: 40px;
}
.cupon-nuevo-back-color-pnl{
    background-color: #BFF1DE;
}
.lista-cupon{
    margin-top: 15;
    margin-bottom: 5;
    font-family: sans-serif;
    font-size: 20px !important;
    border-bottom-color: #ddd;
    border-width: initial;
    border-style: inset;
    border-width: 2px;
    border-top: none;
    border-left: none;
    border-right: none;
}
.lista-cupon label{
    margin-left:50px;
    width: 110px;
}
.lista-cupon .precio-cupon-usado{
    margin-left:400px;
}
.lista-cupon .precio-cupon-nuevo{
    margin-left:550px;
}