#idPaginaProducto {
    height:600px; 
    padding:0px; 
    border-width: 8px;
    border-color: antiquewhite;
    border-style: double;
    margin-top: 40px;
    
}

#idPaginaProducto .img {
    padding-left: 50px;
}


#idPaginaProducto .img-first {
    height: 400px;
    width: 400px;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    border-color: black !important;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

/*#idImgProdSecundario .divImg{
    width: 100px;
    height: 150px;
}*/

#idImgProdSecundario img {
    width: 120px;
    height: 120px;
    margin-left: 15;
    
}

#idDetalleProd .lblTitulo {
       font-size: 40;
    font-family: -webkit-pictograph;
    text-align: center;
    font-weight: 100;
    padding-top: 20px;
    padding-left: 0;
}
#idDetalleProd{
    margin-top: 40px;
}

#idDetalleProd .lblPrecio{
    font-size: 25;
    padding-top: 20px;
    padding-right: 50px;
}

#idDetalleProd .lblDetalle{
    font-style: italic;
    font-size: 20;
    margin-right: 400px;
    margin-top: 10px;
}

#idDetalleProd .lblGenero{
    margin-right: 500px !important;

    
}

.select-option{
    width: 70;
    height: 30;
}

.btn-agregar{
    margin-top: 50px;
    width: 200;
    margin-left: 150px;
    background-color: aliceblue;
}

.btn-agregar:hover{
    background-color: antiquewhite;
}

.ini-mini-imagen {
    height: 250;
    padding: 0;
    width: 150;
    border-bottom-color: #ccc;
    border-bottom-style: double;
}

.ini-mini-imagen img{
   height: 150;
    width: 150;
}

.ini-mini-imagen label{
    margin-top: 10;  
}

#idPrecioImg{
    float: right;

}

#idDetailPrice{
    margin-right: 40;
}
#idImgModProd{
    margin-right: 100px;
    margin-left: 205px;
}
