<html>
    <head>
        <link rel="stylesheet" href="../content/css/bootstrap.min.css"> 
        <link rel="stylesheet" href="../content/css/font-awesome.min.css">
        <link rel="stylesheet" href="../content/css/paginaPrincipal.css">
        <title>MODA SHOW</title> 
    </head>
    <body ng-app="">
        <div>                                  
            <div ng-include="'partials/headerPartial.html'"></div>
            <div ng-include="'partials/bodyPartial.html'"></div>
            <div ng-include="'partials/footerPartial.html'"></div>
        </div>
    </body>
    <script src="../script/angular.min.js"></script>
</html>