<div class="row">
	<div class="col-md-5">
		<div class="btn-group" role="group" aria-label="...">
		  <button type="button" class="btn btn-default" ng-click="cat.nuevaCategoria()">Nuevo Talle</button>
		  <button type="button" class="btn btn-default" ng-click="cat.putCategoria()" ng-disabled="cat.activado">Editar Talle</button>
		  <button type="button" class="btn btn-default" ng-click="cat.deleteCategoria()" ng-disabled="cat.activado">Eliminar Talle</button>
		</div>
	</div>
    
    <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand" ui-sref-active="active">
                    <a ui-sref="productos">
                        Productos
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="categorias">Categorias</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="talles">Talles</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

    <div class="row">
	<div class="col-md-12"><hr/></div>
</div>
    
    
<div class="col-md-8">
    <table class="table table-striped">
    <thead>
      <tr>
          <th>Id</th>
        <th>Talle</th>
        <th>Genero</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="talle in tall.talles">
        <td><li class="list-group-item" ng-click="tall.activeItem($index, talle)" ng-class="{ 'active' : $index == tall.selectedIndex}">
            {{talle.idTalle}}</li>
		  </td>
        <td> <li class="list-group-item" ng-click="tall.activeItem($index, talle)" ng-class="{ 'active' : $index == tall.selectedIndex}">
			  {{talle.Descripcion}}</li>
		  </td>
          <td> <li class="list-group-item" ng-click="tall.activeItem($index, talle)" ng-class="{ 'active' : $index == tall.selectedIndex}">
			  {{talle.genero}}</li>
		  </td>
      </tr>
    </tbody>
  </table>
    </div>
    
    
</div>