<h2>Nuevo Empleado</h2>
<div>
	  <div class="form-group">
          
          <div class="row">
          <div  id="divMp" class="col-md-3">
          <label>Usuario</label>
		<input type="text" class="form-control" placeholder="Usuario" ng-model="user.nuevoEmpleado.usuario">
          </div>
          <div  id="divMp" class="col-md-3">
          <label>Contraseña</label>
		<input type="password" class="form-control" placeholder="Contraseña" ng-model="user.nuevoEmpleado.password">
          </div>
             <div  id="divMp" class="col-md-3">
           <label>Repetir contraseña</label>
		<input type="password" class="form-control" placeholder="Repetir contraseña">
          </div> 
                <div id="divMp" class="col-md-3">
           <label>Puesto</label>
		<input type="text" class="form-control" placeholder="Puesto" ng-model="user.nuevoEmpleado.puesto">
          </div> 
          </div>
          
          <div class="row">
          <div  id="divMp" class="col-md-4">
          <label>Nombre</label>
		<input type="text" class="form-control" placeholder="Nombre" ng-model="user.nuevoEmpleado.nombre">
          </div>
          <div  id="divMp" class="col-md-4">
          <label>Apellido</label>
		<input type="text" class="form-control" placeholder="Apellido" ng-model="user.nuevoEmpleado.apellido">
          </div>
           <div  id="divMp" class="col-md-2">
           <label>Tipo Doc.</label>
                <select class="form-control col-md-3" ng-model="user.nuevoEmpleado.idTipoDoc">
                <option ng-repeat="tipos in user.tiposDoc" ng-value = 'tipos.idTipoDni'>
                        {{tipos.descripcion}}
                </option>
                </select>
          </div>
             <div  id="divMp" class="col-md-2">
           <label>Número</label>
		<input type="text" class="form-control" placeholder="Número" ng-model="user.nuevoEmpleado.numDoc">
          </div> 
          </div>
          
          <div class="row">
          <div  id="divMp" class="col-md-4">
          <label>Teléfono</label>
		<input type="text" class="form-control" placeholder="Teléfono" ng-model="user.nuevoEmpleado.telefono">
          </div>
          <div  id="divMp" class="col-md-4">
          <label>Email</label>
		<input type="text" class="form-control" placeholder="Correo electrónico" ng-model="user.nuevoEmpleado.email">
          </div>
          <div  id="divMp" class="col-md-2">
           <label>Género</label>
                <select class="form-control col-md-3" ng-model="user.nuevoEmpleado.idGenero">
                <option ng-repeat="genero in user.generos" ng-value = 'genero.idGenero'>
                        {{genero.descripcion}}
                </option>
                </select>
          </div>
             <div  id="divMp" class="col-md-2">
           <label>Fecha de nacimiento</label>
		<input type="date" class="form-control" ng-model="user.nuevoEmpleado.fechaNac">
          </div> 
          </div>
          
           <div class="row">
          <div  id="divMp" class="col-md-3">
          <label>Direccion</label>
		<input type="text" class="form-control" placeholder="Dirección" ng-model="user.nuevoEmpleado.direccion">
          </div>
             <div>
          <div  id="divMp" class="col-md-3">
          <label>Provincia</label>
                <div class="selectContainer">
                <select class="form-control" ng-model="user.nuevoEmpleado.idProvincia" ng-change="user.getLocalidadesById(user.nuevoEmpleado.idProvincia)">
                <option ng-repeat="provincia in user.provincias" ng-value = 'provincia.idProvincia'>
                        {{provincia.descripcion}}
                </option>
                </select>
                </div>
           </div>
        <div  id="divMp" class="col-md-3">
          <label>Localidad</label> 
            <div class="selectContainer">
                <select class="form-control" ng-model="user.nuevoEmpleado.idLocalidad" ng-disabled="!user.localidades.length >0">
                <option ng-repeat="localidad in user.localidades" ng-value = 'localidad.idLocalidad' >
                        {{localidad.descripcion}}
                    </option>
                </select>
           </div>
              </div>
         </div>
        <div  id="divMp" class="col-md-3">
          <label>C.P</label>
		<input type="text" class="form-control" placeholder="Código Postal" ng-model="user.nuevoEmpleado.cp">
          </div>
          </div>
          
          <div class="row"></div>
	  </div>
	  <button class="btn btn-default" ng-click="user.createEmpleado()">Guardar</button>
	<button class="btn btn-default" ng-click="user.clear()" >Cancelar</button>
</div>
<div class="row">
	<div class="col-md-12"><hr/></div>
</div>