 <div class="col-md-12" ui-view>

     <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand" ui-sref-active="active">
                    <a>
                        Opciones
                    </a>
                </li>
                 <li ui-sref-active="active">
                    <a ui-sref="productos">Productos</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="categorias">Categorias</a>
                </li>
                <li ui-sref-active="active">
						<a ui-sref="colores">Colores</a>
				</li>
                <li ui-sref-active="active">
						<a ui-sref="mp">Materia Prima</a>
				</li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
     
<div class="row">
	<div class="col-md-5">
		<div class="btn-group" role="group" aria-label="...">
		  <button type="button" class="btn btn-default" ng-click="col.nuevoColor()">Nuevo Color</button>
		  <button type="button" class="btn btn-default" ng-click="col.putColor()" ng-show="col.colorSeleccionado != null">Editar Color</button>
		  <button type="button" class="btn btn-default" ng-click="col.deleteColor()" ng-show="col.colorSeleccionado != null">Eliminar Color</button>
		</div>
	</div>
</div>





<div class="row">
	<div class="col-md-12"><hr/></div>
</div>

<div class="form-group col-md-9" ng-show="cat.formLabel != 'Nueva Categoria'">
        <label id="filtrarPor" class="col-md-2 control-label">Filtrar por:</label>
        <div class="col-md-3 selectContainer">
            <select class="form-control" name="filtrado" ng-model="cat.seleccion" ng-change="cat.update()" >
                <option>Id</option>
                <option>Descripcion</option>
            </select>
        </div>
        <div class="col-md-2">
        <input id="filtrar" type="text" class="form-control" placeholder="Filtrar" ng-model="cat.filtroCategoria.idCategoria" ng-show="cat.seleccion=='Id'">
        <input id="filtrar" type="text" class="form-control" placeholder="Filtrar" ng-model="cat.filtroCategoria.descripcion" ng-show="cat.seleccion=='Descripcion'"> 
        </div>
    </div>

   

<div class="col-md-8">
    <table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Descripcion</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="color in col.colores | filter: cat.filtroCategoria">
        <td><li class="list-group-item" ng-click="col.activeItem($index, color)" ng-class="{ 'active' : $index == col.selectedIndex}">
            {{color.idColor}}</li>
		  </td>
        <td> <li class="list-group-item" ng-click="col.activeItem($index, color)" ng-class="{ 'active' : $index == col.selectedIndex}">
			  {{color.descripcion}}</li>
		  </td>
      </tr>
    </tbody>
  </table>
    </div>
</div>