<!-- <ng-app declara como se va a llamar la aplicacion web para angular> -->
<html lang="es" ng-app="backendEcommerceEmp">
    <head>
        <title>Empleado</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- <Librerías> -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
        <!-- <App acá se declaran todos los js que usa angular> -->
        <script src="app/empleado/app.js"></script>
        <script src="app/empleado/MainController.js"></script>
        <script src="app/common/services/empleado/AvisoProdService.js"></script>
        <script src="app/common/services/empleado/StockService.js"></script>
        <script src="app/common/services/empleado/ProductoService.js"></script>
        <script src="app/common/services/empleado/SucursalService.js"></script>
        <script src="app/common/services/empleado/DireccionService.js"></script>
        <script src="app/common/services/empleado/ProvinciaService.js"></script>
        <script src="app/common/services/empleado/LocalidadService.js"></script>
        <script src="app/common/services/empleado/EmpleadoService.js"></script>
        <script src="app/common/services/empleado/ClienteService.js"></script>
        <script src="app/common/services/empleado/VentaService.js"></script>
        <script src="app/common/services/empleado/PedidoService.js"></script>
        <script src="app/common/services/empleado/MpService.js"></script>
        <script src="app/empleado/alertas/alertas.js"></script>
        <script src="app/empleado/alertas/AlertasController.js"></script>
        <script src="app/empleado/cliente/clientes.js"></script>
        <script src="app/empleado/cliente/ClientesController.js"></script> 
        <script src="app/empleado/pedidos/pedidos.js"></script>
        <script src="app/empleado/pedidos/PedidosController.js"></script>
        <script src="app/empleado/perfil/perfilEmp.js"></script>
        <script src="app/empleado/perfil/PerfilEmpController.js"></script>
        <script src="app/empleado/ventas/ventas.js"></script>
        <script src="app/empleado/ventas/VentasController.js"></script>
        <script src="app/empleado/stock/stock.js"></script>
        <script src="app/empleado/stock/StockController.js"></script>
        
        
        <!-- <Estilos> -->
        <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="styles/css.css">
        <style>
        body { padding-top: 70px; }
        </style>
    </head>
    <body>
        <div id="container" ng-controller="MainController as main">
            
            <!-- <Menu> -->
            
            <nav class="navbar navbar-default navbar-fixed-top">
              <div class="container">
                <div class="collapse navbar-collapse">
                  <div class="navbar-header" ui-sref-active="active">
                    <a class="navbar-brand" ui-sref="inicio">
						<!-- <Entre doble llaves se trae a un atributo guardado en el controller> -->
                        {{main.brand}}
                    </a>
                  </div>
                  <ul class="nav navbar-nav">
                      <!-- <ui-sref indica a que ruta redirigir y active indica que la pestaña se muestre sombreada en dicha ruta> -->
                    <li ui-sref-active="active">
                        <a ng-click="main.abrir = !main.abrir">Alertas<i class="glyphicon glyphicon-bell"></i></a>
<div class="dropdown" ng-class="{ 'open' : main.abrir}">
  <ul class="dropdown-menu notifications" role="menu" aria-labelledby="dLabel" >
    <div class="notification-heading"><h4 class="menu-title">Notificaciones</h4>
    </div>
      <li class="divider"></li>
      <ul ng-repeat="aviso in main.avisosProdPendientes">
   <div class="notifications-wrapper" >
     <a class="content" href="#">
      <div class="notification-item">
        <h4 class="item-title">{{aviso.fecha}} Alerta producto {{aviso.producto_desc}} stock {{aviso.cantidad}} en Sucursal {{aviso.nroSucursal}}</h4>
      </div>
    </a>
   </div>
    </ul>
       <ul ng-repeat="aviso in main.avisosMpPendientes">
   <div class="notifications-wrapper" >
     <a class="content" href="#">
      <div class="notification-item">
        <h4 class="item-title">{{aviso.fecha}} Alerta M.Prima {{aviso.titulo}} stock {{aviso.stock}}</h4>
      </div>
    </a>
   </div>
    </ul>
    <li class="divider"></li>
    <div class="notification-footer"><a ui-sref="alertas" ng-click="main.abrir = !main.abrir"><h4 class="menu-title">Ver Alertas<i class="glyphicon glyphicon-circle-arrow-right"></i></h4></a></div>
  </ul>
</div>
					</li>
                    <li ui-sref-active="active">
						<a ui-sref="stock">Stock</a>
					</li>
                      <li ui-sref-active="active">
						<a ui-sref="ventas">Ventas</a>
					</li>
                       <li ui-sref-active="active">
						<a ui-sref="clientes">Clientes</a>
					</li>
                        <li ui-sref-active="active">
						<a ui-sref="pedidos">Pedidos MP</a>
					</li>
                    </li>
                        <li ui-sref-active="active">
						<a ui-sref="perfilEmp">Perfil</a>
					</li>
                  </ul>
                     <div id="sesion"><h5>Logueado como: {{main.user}}</h2><a href="#">Cerrar sesión</a></div>
                </div>
                 
              </div>
                
            </nav>
            <!-- </Menu> -->
            
            <!-- <Acá se va a insertar el html ligado al ui-sref de arriba> -->
            <div class="container" ui-view></div>
        </div>
    </body>
</html>