 <div class="col-md-12" ui-view>

           <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand" ui-sref-active="active">
                    <a>
                  Opciones
                    </a>
                </li>
                
                 <li ui-sref-active="active" id="lblVolver">
						<a ui-sref="admGeneral">Volver</a>
				</li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
     
<div class="row">
	<div class="col-md-6">
		<div class="btn-group" role="group" aria-label="...">
		  <button type="button" class="btn btn-default" ng-click="suc.nuevaSucursal()">Nueva Sucursal</button>
		  <button type="button" class="btn btn-default" ng-click="suc.editarSucursal()" ng-show="suc.sucSeleccionada != null">Editar Sucursal</button>
		  <button type="button" class="btn btn-default" ng-click="suc.deleteSucursal()" ng-show="suc.sucSeleccionada != null">Eliminar Sucursal</button>
		</div>
	</div>
</div>

     
<div class="row">
	<div class="col-md-12"><hr/></div>
</div>
    
    <div class="form-group col-md-9" id="filtraResultado">
        <label id="filtrarPor" class="col-md-3 control-label">Filtrar resultados por:</label>
        <div class="col-md-3 selectContainer">
            <select class="form-control" name="filtrado" ng-model="suc.seleccion"  ng-change="suc.update()">
                <option>Id</option>
                <option>Titulo</option>
                <option>Precio</option>
            </select>
        </div>
        <div class="col-md-2">
        <input id="filtrar" type="text" class="form-control" placeholder="Filtrar" ng-model="suc.filtrosuc.idsuc" ng-show="suc.seleccion=='Id'">
        <input id="filtrar" type="text" class="form-control" placeholder="Filtrar" ng-model="suc.filtrosuc.titulo" ng-show="suc.seleccion=='Titulo'"> 
        <input id="filtrar" type="text" class="form-control" placeholder="Filtrar" ng-model="suc.filtrosuc.precio" ng-show="suc.seleccion=='Precio'">
        </div>
    </div>
    
     <div class="col-md-10">
    <table class="table table-striped">
    <thead>
      <tr>
        <th>Nro. Sucursal</th>
        <th>Provincia</th>
        <th>Localidad</th>
        <th>Telefono</th>
        <th>Horario de atención</th>  
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="sucursal in suc.sucursales | filter: suc.filtrosuc">
        <td><li class="list-group-item" ng-click="suc.activeItem($index, sucursal)" ng-class="{ 'active' : $index == suc.selectedIndex}">
            {{sucursal.nroSucursal}}</li>
		  </td>
        <td> <li class="list-group-item" ng-click="suc.activeItem($index, sucursal)" ng-class="{ 'active' : $index == suc.selectedIndex}">
			  {{sucursal.provincia_desc}}</li>
		  </td>
          <td> <li class="list-group-item" ng-click="suc.activeItem($index, sucursal)" ng-class="{ 'active' : $index == suc.selectedIndex}">
			  {{sucursal.localidad_desc}}</li>
		  </td>
          <td> <li class="list-group-item" ng-click="suc.activeItem($index, sucursal)" ng-class="{ 'active' : $index == suc.selectedIndex}">
			  {{sucursal.telefono}}</li>
		  </td>
          <td> <li class="list-group-item" ng-click="suc.activeItem($index, sucursal)" ng-class="{ 'active' : $index == suc.selectedIndex}">
			  {{sucursal.horarioAtencion}}</li>
		  </td>
      </tr>
    </tbody>
  </table>
</div>
</div>
