 <div class="row">
	<div class="col-md-12"><hr/></div>
</div>
<div class="col-md-12">
    
    <!-- Buscador-->
     <a ng-click="ven.busqAv = !ven.busqAv">Busqueda avanzada <span ng-class="!ven.busqAv ? 'glyphicon glyphicon-arrow-down' : 'glyphicon glyphicon-arrow-up'"></span></a>
        <div ng-show="ven.busqAv">
    
           <div>
            <label class="titulo">Agregar filtro</label>  
           </div>
            <div class="row" id="buscaFiltros">
                <div class="col-md-8">
                <select class="form-control" name="filtrado" id="cbParametro">
                <option>Estado de venta</option>
                <option>Ventas por sucursal</option>
                <option>Fecha de compra</option>
                <option>Fecha de pago</option>
                </select>
                </div>
            <div class="col-md-2" id="botonContainer">
                  <button id="btnMas" type="button" class="btn btn-primary" ng-click="ven.agregarParametro()" >
                      <span class="glyphicon glyphicon-plus"></span>
                  </button>
            </div>
                <div class="col-md-2">
                    <button id="btnBuscar" type="button">Buscar</button>
                </div>
          </div>
    
        
    <div ng-show="ven.parametrosBusqueda.length > 0">
    <label class="titulo">Buscar</label>           
    <table class="table table-striped">
    <thead>
      <tr>
        <th>Criterio de búsqueda</th>
        <th>Valor</th>
        <th>Quitar</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="parametro in ven.parametrosBusqueda">
        <td>
            <li class="list-group-item">
                <div class="form-control">{{parametro}}</div>
            </li>
         </td>
        <td> 
          <li class="list-group-item" ng-show="parametro != 'Fecha de compra' && parametro != 'Fecha de pago' && parametro != 'Ventas por sucursal'">
			  <input type="text" class="form-control">
            </li>
            <li id="llenaLinea" class="list-group-item" ng-show="parametro == 'Fecha de compra' || parametro == 'Fecha de pago'">
              <select id="dosEnLinea" class="form-control col-md-6">
                <option>Antes</option>
                <option>Despues</option>
              </select>
			  <input id="dosEnLinea" type="date" class="form-control col-md-6">
            </li>
              <li id="llenaLinea" class="list-group-item" ng-show="parametro == 'Ventas por sucursal'">
                  <select id="dosEnLinea" class="form-control col-md-6">
                <option>Mayor</option>
                <option>Menor</option>
              </select>
			   <input id="dosEnLinea" type="text" class="form-control col-md-6">
            </li>
		  </td>
          <td> <li class="list-group-item">
              <button type="button" class="btn btn-danger form-control" ng-click="ven.quitarParametro($index)"><span class="glyphicon glyphicon-minus">      </span></button></li>
		  </td>   
      </tr>    
    </tbody>
  </table>
    </div>
    </div>
    <!-- Fin Buscador-->      
    
    <div class="form-group col-md-12" id="filtraResultado">
        <label id="filtrarPor" class="col-md-3 control-label">Filtrar resultados por:</label>
        <div class="col-md-3 selectContainer">
            <select class="form-control" name="filtrado" ng-model="ven.seleccion" ng-change="ven.update()">
                <option>Usuario</option>
                <option>Monto</option>
                <option>Fecha compra</option>
                <option>Fecha pago</option>
                <option>Estado</option>
            </select>
        </div>
        <div class="col-md-6">
        <input id="filtrar" type="text" class="form-control" placeholder="Filtrar" ng-model="ven.filtroVenta.usuario" ng-show="ven.seleccion=='Usuario'">
        <input id="filtrar" type="text" class="form-control" placeholder="Filtrar" ng-model="ven.filtroVenta.monto" ng-show="ven.seleccion=='Monto'"> 
        <input id="filtrar" type="text" class="form-control" placeholder="Filtrar" ng-model="ven.filtroVenta.fechaCompra" ng-show="ven.seleccion=='Fecha compra'"> 
        <input id="filtrar" type="text" class="form-control" placeholder="Filtrar" ng-model="ven.filtroVenta.fechaPago" ng-show="ven.seleccion=='Fecha pago'"> 
        <input id="filtrar" type="text" class="form-control" placeholder="Filtrar" ng-model="ven.filtroVenta.estado" ng-show="ven.seleccion=='Estado'"> 
        </div>
    </div>
    
    <table class="table table-striped">
    <thead>
      <tr>
        <th>Usuario</th>
        <th>Monto</th>
        <th>Fecha compra</th>
        <th>Fecha pago</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody>
        <!-- <ng-repeat siempre para llenar una tabla o un combobox con un array guardado en el controller> -->
      <tr ng-repeat="venta in ven.ventas | filter: ven.filtroVenta">
          <!-- <ng-class permite cambiar la clase de un elemento en tiempo real si algo sucede> -->
        <td><li class="list-group-item" ng-click="prod.activeItem($index, producto)" ng-class="{ 'active' : $index == prod.selectedIndex}">
            {{venta.usuario}}</li>
		  </td>
        <td> <li class="list-group-item" ng-click="prod.activeItem($index, producto)" ng-class="{ 'active' : $index == prod.selectedIndex}">
			  {{venta.monto}}</li>
		  </td>
          <td> <li class="list-group-item" ng-click="prod.activeItem($index, producto)" ng-class="{ 'active' : $index == prod.selectedIndex}">
			  {{venta.fechaCompra}}</li>
		  </td>
          <td> <li class="list-group-item" ng-click="prod.activeItem($index, producto)" ng-class="{ 'active' : $index == prod.selectedIndex}">
			  {{venta.fechaPago}}</li>
		  </td>
           <td> <li class="list-group-item" ng-click="prod.activeItem($index, producto)" ng-class="{ 'active' : $index == prod.selectedIndex}">
			  {{venta.estado}}</li>
		  </td>
      </tr>
    </tbody>
  </table>
</div>