<h2>Nuevo Cupón</h2>
<div>
	  <div class="form-group">
          <div class="row">
        <div class="col-md-8">      
		<label>Titulo</label>
		<input type="text" class="form-control" placeholder="Título de la materia prima" ng-model="cup.nuevoCupon.descripcion">
        </div>
        <div class="col-md-4">
          <label>Descuento</label>
		<input type="text" class="form-control" placeholder="Precio de la materia prima" ng-model="cup.nuevoCupon.montoDescuento">
          </div>
         </div> 
	  </div>
	  <button class="btn btn-default" ng-click="cup.createCupon()">Guardar</button>
	<button class="btn btn-default" ng-click="cup.clearCupones()" >Cancelar</button>
</div>
<div class="row">
	<div class="col-md-12"><hr/></div>
</div>