 <div class="col-md-12" ui-view>
 
           <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand" ui-sref-active="active">
                    <a>
                  Opciones
                    </a>
                </li>
                
                 <li ui-sref-active="active" id="lblVolver">
						<a ui-sref="admGeneral">Volver</a>
				</li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->     
     
     
<div class="row">
	<div class="col-md-6">
		<div class="btn-group" role="group" aria-label="...">
		  <button type="button" class="btn btn-default" ui-sref="cupones.nuevo">Nuevo Cupón</button>
		  <button type="button" class="btn btn-default" ng-click="cup.editarCupon()" ng-show="cup.cuponSeleccionado != null">Editar Cupón</button>
		  <button type="button" class="btn btn-default" ng-click="cup.deleteCupon()" ng-show="cup.cuponSeleccionado != null">Eliminar Cupón</button>
		</div>
	</div>
</div>

     
<div class="row">
	<div class="col-md-12"><hr/></div>
</div>  
    <div class="form-group col-md-9" id="filtraResultado">
        <label id="filtrarPor" class="col-md-3 control-label">Filtrar resultados por:</label>
        <div class="col-md-3 selectContainer">
            <select class="form-control" name="filtrado" ng-model="mp.seleccion"  ng-change="mp.update()">
                <option>Id</option>
                <option>Titulo</option>
                <option>Precio</option>
            </select>
        </div>
        <div class="col-md-2">
        <input id="filtrar" type="text" class="form-control" placeholder="Filtrar" ng-model="mp.filtroMp.idMP" ng-show="mp.seleccion=='Id'">
        <input id="filtrar" type="text" class="form-control" placeholder="Filtrar" ng-model="mp.filtroMp.titulo" ng-show="mp.seleccion=='Titulo'"> 
        <input id="filtrar" type="text" class="form-control" placeholder="Filtrar" ng-model="mp.filtroMp.precio" ng-show="mp.seleccion=='Precio'">
        </div>
    </div>
    
     <div class="col-md-10">
    <table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Titulo</th>
        <th>Descuento</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="cupon in cup.cupones | filter: mp.filtroMp">
        <td><li class="list-group-item" ng-click="cup.activeItem($index, cupon)" ng-class="{ 'active' : $index == cup.selectedIndex}">
            {{cupon.idCupon}}</li>
		  </td>
        <td> <li class="list-group-item" ng-click="cup.activeItem($index, cupon)" ng-class="{ 'active' : $index == cup.selectedIndex}">
			  {{cupon.descripcion}}</li>
		  </td>
          <td> <li class="list-group-item" ng-click="cup.activeItem($index, cupon)" ng-class="{ 'active' : $index == cup.selectedIndex}">
			  {{cupon.montoDescuento}}</li>
		  </td>
      </tr>
    </tbody>
  </table>
</div>
</div>
