<div class="col-md-12" ui-view>
<div class="row">
	<div class="col-md-5">
		<div class="btn-group" role="group" aria-label="...">
		  <button type="button" class="btn btn-default" ng-click="user.nuevoEmpleado()">Nuevo Empleado</button>
		  <button type="button" class="btn btn-default" ng-click="cat.putUsuario()" ng-show="user.empleadoSeleccionado != null">Editar Empleado</button>
		  <button type="button" class="btn btn-default" ng-click="cat.deleteUsuario()" ng-show="user.empleadoSeleccionado != null">Eliminar Empleado</button>
		</div>
	</div>
    
    <div class="row">
	<div class="col-md-12"><hr/></div>
</div>
    </div>
<div>
     <div class="form-group col-md-9" >
        <label id="filtrarPor" class="col-md-2 control-label">Filtrar por:</label>
        <div class="col-md-2 selectContainer">
            <select class="form-control" name="filtrado" ng-model="user.seleccion"  ng-change="user.update()">
                <option>Id</option>
                <option>Apellido</option>
                <option>Nombre</option>
                <option>Usuario</option>
                <option>Email</option>
                <option>Puesto</option>
                <option>Habilitado</option>
            </select>
        </div>
        <div class="col-md-2">
        <input id="filtrar" type="text" class="form-control" placeholder="Filtrar" ng-model="user.filtroEmp.idEmpleado" ng-show="user.seleccion=='Id'">
        <input id="filtrar" type="text" class="form-control" placeholder="Filtrar" ng-model="user.filtroEmp.apellido" ng-show="user.seleccion=='Apellido'"> 
        <input id="filtrar" type="text" class="form-control" placeholder="Filtrar" ng-model="user.filtroEmp.nombre" ng-show="user.seleccion=='Nombre'">
            <input id="filtrar" type="text" class="form-control" placeholder="Filtrar" ng-model="user.filtroEmp.usuario" ng-show="user.seleccion=='Usuario'">
        <input id="filtrar" type="text" class="form-control" placeholder="Filtrar" ng-model="user.filtroEmp.email" ng-show="user.seleccion=='Email'"> 
        <input id="filtrar" type="text" class="form-control" placeholder="Filtrar" ng-model="user.filtroEmp.puesto" ng-show="user.seleccion=='Puesto'">
        <input id="filtrar" type="text" class="form-control" placeholder="Filtrar" ng-model="user.filtroEmp.habilitado" ng-show="user.seleccion=='Habilitado'">
        </div>
    </div>
    
<div class="col-md-8">
    
 
    <table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Apellido</th>
        <th>Nombre</th>
        <th>Usuario</th>
        <th>Email</th>
        <th>Puesto</th>
        <th>Telefono</th>
        <th>Habilitado</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="empleado in user.empleados | filter: user.filtroEmp">
        <td><li class="list-group-item" ng-click="user.activeItem($index, empleado)" ng-class="{ 'active' : $index == user.selectedIndex}">
            {{empleado.idEmpleado}}</li>
		  </td>
        <td> <li class="list-group-item" ng-click="user.activeItem($index, empleado)" ng-class="{ 'active' : $index == user.selectedIndex}">
			  {{empleado.apellido}}</li>
		  </td>
          <td> <li class="list-group-item" ng-click="user.activeItem($index, empleado)" ng-class="{ 'active' : $index == user.selectedIndex}">
			  {{empleado.nombre}}</li>
		  </td>
          <td> <li class="list-group-item" ng-click="user.activeItem($index, empleado)" ng-class="{ 'active' : $index == user.selectedIndex}">
			  {{empleado.usuario}}</li>
		  </td>
          <td> <li class="list-group-item" ng-click="user.activeItem($index, empleado)" ng-class="{ 'active' : $index == user.selectedIndex}">
			  {{empleado.email}}</li>
		  </td>
          <td> <li class="list-group-item" ng-click="user.activeItem($index, empleado)" ng-class="{ 'active' : $index == user.selectedIndex}">
			  {{empleado.puesto}}</li>
		  </td>
          <td> <li class="list-group-item" ng-click="user.activeItem($index, empleado)" ng-class="{ 'active' : $index == user.selectedIndex}">
			  {{empleado.telefono}}</li>
		  </td>
          <td> <li class="list-group-item" ng-click="user.activeItem($index, empleado)" ng-class="{ 'active' : $index == user.selectedIndex}">
			  <div id="cliHab">{{empleado.habilitado==1?'Si':'No'}}</div></li>
              <button type="button" class="btn btn-default" id="btnHabCli" ng-click="user.habilitacion(empleado)" ng-show="user.empleadoSeleccionado == empleado">{{user.habilitar}}</button>
		  </td>
      </tr>
    </tbody>
  </table>
    </div>
</div>
</div>