<div id="idPaginaIniciarSesion" ng-controller="IniciarSesionController as IniciarSesionCtrl" >
 
  <div class="container col-md-12 div-iniciar-sesion" style="height: 359px !important"> 
        <div class="col-md-12" id="lblTitulo">
            <div class="row col-md-offset-2" >
            <label >INICIAR SESI&Oacute;N</label>
            </div>
        </div>

         <div class="row col-md-offset-2" id="lblDatoObligatorio" class="col-md-12" style=""   >
            <label >* Todos los datos son Obligatorios</label>
         </div>

        <!-- CUERPO!-->
        <div class="form-group col-md-offset-4" style="" >
            <div id="divDetalle">
            <div  id="divAlineacion">
                <label>*E-mail:</label>
                <input type="text" class="form-control" placeholder="Email" ng-model="login.email" >
            </div>
            </div>
         
            <div id="divDetalle">
            <div  id="divAlineacion">
                <label>*Clave:</label>
               <input type="text" class="form-control" placeholder="Clave" ng-model="login.password">
            </div>
            </div>

            <div id="lblLink ">
            <div  id="divAlineacion">
               <label ui-sref="recordarContrasenia" >¿Olvidaste tu contraseña?</label>
            </div>
            </div>
        </div>     
        
        <div class="form-group col-md-offset-4" style="" >
            
        <!-- BOTONES!-->
        <div class="row" class="col-md-12" style=" "   >
            <div class="col-md-6  col-md-offset-6">
             <button class="btn btn-default btn-md btnBoton" ng-click="login.usuarioGetAllByEmailPassword()">Aceptar</button>
	             <button class="btn btn-default btn-md btnBoton" >Cancelar</button>
            </div>
        </div>
    </div>
</div>
</div>
