<div id="idPaginaRecordarContrasenia" ng-controller="IniciarSesionController as RecordarContraseniaCtrl" >
 <div class="container col-md-12"> 
      <div class="container col-md-12"> 
        <div class="col-md-12" id="lblTitulo"> 
        <div class="row col-md-offset-2" style=""  >
            <label >RECORDAR CONTRASEÑA</label>
        </div>
        </div>
          
        <!--div class="row col-md-offset-2" id="lblTitulo" class="col-md-12" style=""  >
            <label >RECORDAR CONTRASEÑA</label>
        </div-->

        <div class="row col-md-offset-2" id="lblDatoObligatorio" class="col-md-12" style=""   >
            <label >* Datos Obligatorios</label>
        </div>

        <!-- CUERPO!-->
        <div class="form-group col-md-offset-4" style="" >        
            <div id="divDetalle">
            <div  id="divAlineacion">
                <label>*E-mail:</label>
               <input type="text" class="form-control" placeholder="Email" ng-model="recordarContraseniaCta.email">
            </div>
            </div>
 
            <div id="divDetalle">
            <div  id="divAlineacion">
                <label>*Fecha Nacimiento:</label>
                <input type=date class="form-control" placeholder="Fecha Nacimiento" ng-model="recordarContraseniaCta.fechaNacimiento"/>
           </div>
        </div>     
        
        <div class="form-group col-md-offset-4" style="" >
            
        <!-- BOTONES!-->
        <div class="row" class="col-md-12" style=" "   >
            <div class="col-md-6  col-md-offset-6">
                <button class="btn btn-default btn-md btnBoton" ng-click="recordarContraseniaCta.usuarioGetAllByEmailFechaNacimiento()">Aceptar</button>
	          <button class="btn btn-default btn-md btnBoton" >Cancelar</button>
            </div>
        </div>
    </div>
</div>
