
       <div class="row">
	<div class="col-md-12"><hr/></div>
</div>
    
             <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                   <li class="sidebar-brand" ui-sref-active="active">
                       <a>Alertas</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="alertas">Productos</a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="alertas.mp">Materia Prima</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
  <div class="col-md-12" ui-view>   
    
<div class="row">
<div class="btn-group" role="group" aria-label="...">
<button type="button" class="btn btn-default" ng-click="ale.reponer = true" ng-disabled="ale.avisoSeleccionado.estado != 'Pendiente'">Atender pedido</button>
<button type="button" class="btn btn-default" ng-click="ale.reponer = false" ng-show="ale.reponer && ale.avisoSeleccionado.estado == 'Pendiente'">Cancelar</button>
</div>


    
<!--Reponer-->    
<div ng-show="ale.reponer && ale.avisoSeleccionado.estado == 'Pendiente'" class="col-md-10">
    <table ng-table="tablaAvisos" class="table table-striped" >
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Producto</th>
        <th>N° Sucursal</th>
        <th>Stock</th>
        <th>P.Reposición</th>
        <th>Cantidad a reponer</th>
        <th>Confirmar</th> 
      </tr>
    </thead>
    <tbody>
      <tr>
          <!-- <ng-class permite cambiar la clase de un elemento en tiempo real si algo sucede> -->
        <td><li class="form-control">
            {{ale.avisoSeleccionado.fecha}}</li>
		  </td>
        <td> <li class="form-control">
			  {{ale.avisoSeleccionado.titulo}}</li>
		  </td>
          <td> <li class="form-control">
			 Sucursal {{ale.avisoSeleccionado.nroSucursal}}</li>
		  </td>
          <td> <li class="form-control">
			 {{ale.avisoSeleccionado.cantidad}}</li>
		  </td>
          <td> <li class="form-control">
			  {{ale.avisoSeleccionado.puntoReposicion}}</li>
		  </td>
           <td> 
               <input type="text" class="form-control" placeholder="{{ale.avisoSeleccionado.enDeposito}}" id="cantRepo"></input>
		  </td>
           <td> 
               <button class="form-control btn-primary" ng-click="ale.atenderPedido()">OK</button>
		  </td>    
      </tr>
    </tbody>
  </table>
</div>
<!--Fin reponer-->
      
</div>
    <div class="row">
	<div class="col-md-12"><hr/></div>
</div>
<div class="col-md-9">
    <div class="form-group col-md-12">
        <label class="col-md-2 control-label">Filtrar por:</label>
        <div class="col-md-3 selectContainer">
            <select class="form-control" name="filtrado" ng-model="ale.seleccion" ng-change="ale.update()">
                <option>Producto</option>
                <option>Estado</option>
                <option>N° Sucursal</option>
            </select>
        </div>
        <div class="col-md-6">
        <input id="filtrar" type="text" class="form-control" placeholder="Filtrar" ng-model="ale.filtroAviso.titulo" ng-show="ale.seleccion=='Producto'">
        <input id="filtrar" type="text" class="form-control" placeholder="Filtrar" ng-model="ale.filtroAviso.estado" ng-show="ale.seleccion=='Estado'"> 
        <input id="filtrar" type="text" class="form-control" placeholder="Filtrar" ng-model="ale.filtroAviso.nroSucursal" ng-show="ale.seleccion=='N° Sucursal'"> 
        </div>
    </div>
    

    
    
    <div>
<h2 id="divCat">Avisos de reposición</h2>
</div>
    <table ng-table="tablaAvisos" class="table table-striped" >
    <thead>
      <tr>
        <th>Fecha</th>
        <th>Producto</th>
        <th>N° Sucursal</th>
        <th>Stock</th>
        <th>P.Reposición</th>
        <th>Estado</th> 
      </tr>
    </thead>
    <tbody>
        <!-- <ng-repeat siempre para llenar una tabla o un combobox con un array guardado en el controller> -->
      <tr ng-repeat="aviso in ale.avisosProd | filter: ale.filtroAviso">
          <!-- <ng-class permite cambiar la clase de un elemento en tiempo real si algo sucede> -->
        <td><li class="list-group-item" ng-click="ale.activeItem($index, aviso)" ng-class="{ 'active' : $index == ale.selectedIndex}">
            {{aviso.fecha}}</li>
		  </td>
        <td> <li class="list-group-item" ng-click="ale.activeItem($index, aviso)" ng-class="{ 'active' : $index == ale.selectedIndex}">
			  {{aviso.titulo}}</li>
		  </td>
          <td> <li class="list-group-item" ng-click="ale.activeItem($index, aviso)" ng-class="{ 'active' : $index == ale.selectedIndex}">
			 Sucursal {{aviso.nroSucursal}}</li>
		  </td>
          <td> <li class="list-group-item" ng-click="ale.activeItem($index, aviso)" ng-class="{ 'active' : $index == ale.selectedIndex}">
			 {{aviso.cantidad}}</li>
		  </td>
          <td> <li class="list-group-item" ng-click="ale.activeItem($index, aviso)" ng-class="{ 'active' : $index == ale.selectedIndex}">
			  {{aviso.puntoReposicion}}</li>
		  </td>
           <td> <li class="list-group-item" ng-click="ale.activeItem($index, aviso)" ng-class="{ 'active' : $index == ale.selectedIndex}">
			  {{aviso.estado}}</li>
		  </td>
      </tr>
    </tbody>
  </table>
</div>