     <!-- Buscador-->
     <a ng-click="stock.busqAvMp = !stock.busqAvMp">Busqueda avanzada <span ng-class="!stock.busqAvMp ? 'glyphicon glyphicon-arrow-down' : 'glyphicon glyphicon-arrow-up'"></span></a>
        <div ng-show="stock.busqAvMp">
    
           <div>
            <label class="titulo">Agregar filtro</label>  
           </div>
            <div class="row" id="buscaFiltros">
                <div class="col-md-8">
                <select class="form-control" name="filtrado" id="cbParametro">
                <option>Stock por punto de reposicion</option>
                </select>
                </div>
            <div class="col-md-2" id="botonContainer">
                  <button id="btnMas" type="button" class="btn btn-primary" ng-click="stock.agregarParametroMp()" >
                      <span class="glyphicon glyphicon-plus"></span>
                  </button>
            </div>
                <div class="col-md-2">
                    <button id="btnBuscar" type="button">Buscar</button>
                </div>
          </div>
    
        
    <div ng-show="stock.parametrosMpBusqueda.length > 0" class="col-md-9">
    <label class="titulo">Buscar</label>           
    <table class="table table-striped">
    <thead>
      <tr>
        <th>Criterio de búsqueda</th>
        <th>Valor</th>
        <th>Quitar</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="parametro in stock.parametrosMpBusqueda">
        <td>
            <li class="list-group-item">
                <div class="form-control">{{parametro}}</div>
            </li>
         </td>
        <td> 
          <li class="list-group-item" ng-show="parametro != 'Stock por punto de reposicion'">
			  <input type="text" class="form-control">
            </li>
              <li id="llenaLinea" class="list-group-item" ng-show="parametro == 'Stock por punto de reposicion'">
                  <select id="dosEnLinea" class="form-control col-md-6">
                <option>Mayor</option>
                <option>Menor</option>
              </select>
			   <input id="dosEnLinea" type="text" class="form-control col-md-6">
            </li>
		  </td>
          <td> <li class="list-group-item">
              <button type="button" class="btn btn-danger form-control" ng-click="stock.quitarParametroMp($index)"><span class="glyphicon glyphicon-minus">      </span></button></li>
		  </td>   
      </tr>    
    </tbody>
  </table>
    </div>
    </div>
    <!-- Fin Buscador--> 



    <div class="form-group col-md-12" id="filtraResultado">
        <label id="filtrarPor" class="col-md-3 control-label">Filtrar resultados por:</label>
        <div class="col-md-4 selectContainer">
            <select class="form-control" name="filtrado" ng-model="stock.seleccion" ng-change="stock.updateMp()">
                <option>Materia Prima</option>
            </select>
        </div>
        <div class="col-md-6">
        <input id="filtrar" type="text" class="form-control" placeholder="Filtrar" ng-model="stock.filtroStockMp.titulo" ng-show="stock.seleccion=='Materia Prima'">
        </div>
    </div>
<div class="col-md-9">    
    <table class="table table-striped">
    <thead>
      <tr>
        <th>Materia Prima</th>
        <th>Stock</th>
        <th>P.Reposición</th>
      </tr>
    </thead>
    <tbody>
        <!-- <ng-repeat siempre para llenar una tabla o un combobox con un array guardado en el controller> -->
      <tr ng-repeat="stockMp in stock.mps | filter: stock.filtroStock">
          <!-- <ng-class permite cambiar la clase de un elemento en tiempo real si algo sucede> -->
          <td><li class="list-group-item" ng-click="prod.activeItem($index, producto)" ng-class="{ 'active' : $index == prod.selectedIndex}">
            {{stockMp.titulo}}</li>
		  </td>
          <td><li class="list-group-item" ng-click="prod.activeItem($index, producto)" ng-class="{ 'active' : $index == prod.selectedIndex}">
			  {{stockMp.stock}}</li>
		  </td>
           <td><li class="list-group-item" ng-click="prod.activeItem($index, producto)" ng-class="{ 'active' : $index == prod.selectedIndex}">
			  {{stockMp.puntoReposicion}}</li>
		  </td>
      </tr>
    </tbody>
  </table>
</div>