<div class="row">
	<div class="col-md-6">
		<div class="btn-group" role="group" aria-label="...">
		  <button type="button" class="btn btn-default" ng-click="env.updateEnvioLugar()">Actualizar</button>
		</div>
	</div>
</div>
     <div class="row">
	<div class="col-md-12"><hr/></div>
</div>    
     

<div class="col-md-10">
    <table class="table table-striped">
    <thead>
      <tr>
        <th>Provincia</th>
        <th>Localidad</th>
        <th>Costo en pesos</th>
        <th>Envío en días</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="lugar in env.lugares">
        <td><li class="list-group-item" ng-click="mp.activeItem($index, materia)" ng-class="{ 'active' : $index == mp.selectedIndex}" id="emparejaLinea">
            <div>{{lugar.provincia_desc}}</div>
          <td><li class="list-group-item" ng-click="mp.activeItem($index, materia)" ng-class="{ 'active' : $index == mp.selectedIndex}" id="emparejaLinea">
              <div>{{lugar.localidad_desc}}</div></li>
		  </td>
        <td> <li class="list-group-item" ng-click="mp.activeItem($index, materia)" ng-class="{ 'active' : $index == mp.selectedIndex}">
			<input id="cantidad" type="text" class="form-control" ng-model="lugar.costo">  
           </li>
		  </td>
          <td> <li class="list-group-item" ng-click="mp.activeItem($index, materia)" ng-class="{ 'active' : $index == mp.selectedIndex}">
			  <input id="cantidad" type="text" class="form-control" ng-model="lugar.tardanzaDias">
             </li>
		  </td>
      </tr>
    </tbody>
  </table>
</div>
</div>
