

      <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand" ui-sref-active="active">
                    <a>
                  Opciones
                    </a>
                </li>
                <li ui-sref-active="active">
                    <a ui-sref="envios">Envios entre sucursales</a>
                </li>
                <li ui-sref-active="active">
						<a ui-sref="envios.cliente">Envios al cliente</a>
				</li>
                
                 <li ui-sref-active="active" id="lblVolver">
						<a ui-sref="admGeneral">Volver</a>
				</li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
     <div class="col-md-12" ui-view>
    <div class="row">
	<div class="col-md-6">
		<div class="btn-group" role="group" aria-label="...">
		  <button type="button" class="btn btn-default" ng-click="env.updateEnvioSucursal()">Actualizar</button>
		</div>
	</div>
</div>
     <div class="row">
	<div class="col-md-12"><hr/></div>
</div>    
         
     <div class="col-md-10">
    <table class="table table-striped">
    <thead>
      <tr>
        <th>Sucursal 1</th>
        <th>Sucursal 2</th>
        <th>Envío en días</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="envio in env.envios | filter: mp.filtroMp">
        <td><li class="list-group-item" id="emparejaLinea">
            <div>Sucursal {{envio.nroSucursal1}}</div></li>
		  </td>
        <td> <li class="list-group-item" id="emparejaLinea">
            <div>Sucursal {{envio.nroSucursal2}}</div></li>
		  </td>
          <td> <li class="list-group-item">
			   <input id="cantidad" type="text" class="form-control" ng-model="envio.tardanza"></li></li>
		  </td>
      </tr>
    </tbody>
  </table>
</div>
</div>
